<div class='inv-add'>
   <% if object.entities.any? %>
     <% object.entities.each do |entity| %>
	     <%= render 'shared/show_entity', object: entity %>
	  <% end %>
	  <br>
	   <%= render 'shared/address_lines', lines: object.bill_to.address.address_lines %>
   <% end %>
</div>