<div class ="inv_bold">
  <div class="col-1-3">
    Invoice
  </div>
  <div class="col-1-3">
      Property Ref: <%= property_object.human_ref %>
  </div>
  <div class="col-1-3">
    <% if property_object.account.debits.present? %>
     Date: <%= l date_object %>
    <% end %>
    <br>
  </div>
</div>
