<div class='inv-bold'>

  <div class='col-1-2 inv-bold'>
    Property Ref: <%= property_object.human_ref  %>
  </div>

   <div class='col-1-2 inv-bold'>
    Due Date: <%= l date_object %>
  </div>

</div>
<br>
