<% disabler = false if local_assigns[:disabler].nil? %>
<div class='grid-row col-6-24'>
  &nbsp;
</div>
<div class='col-3-24 faded'>
  Associations
</div>
<div class='col-9-24 bottom-spacer'>
  &nbsp;
</div>
<div class='col-6-24 bottom-spacer'>
  &nbsp;
</div>