<div class="grid">
  <div class='col-10-24'>
  <% @title='Invoicing' %>
  </div>
  <div class='col-10-24 r-align'>
  <%= link_to fa_icon('print 2x'), '#',title: 'Print', class: 'no-print js-printoff' %>
  </div>
</div>

<% @invoicing.invoices.each do |invoice| %>
  <div class='shell-for-print-screen'>
    <div class='page'>
      <%= render 'invoices/invoice_page1', invoice: invoice %>
    </div>
    <div class='page'>
    </div>
  </div>
<% end %>
