<% @title='Invoicing' %>

<div class='wrap-print  float-left'>
  <% @invoicing.runs.last.invoices.each do |invoice| %>
    <%= render 'publish_invoices/publish_invoice', invoice: invoice %>
  <% end %>
</div>

<div class = 'side-wrap  float-right'>
  <%= render 'layouts/sidebar' %>
</div>
