<% @title='Invoicing' %>
<div class='grid'>
  <div class='col-18-24 r-align'>
  <%= link_to fa_icon('print 2x'), '#',title: 'Print', class: 'no-print js-printoff' %>
  </div>
</div>

<div class='wrap-print flt-left'>
  <% @invoicing.runs.last.invoices.each do |invoice| %>

    <%= render 'invoices/invoice_page1', invoice: invoice %>
    <div class='page-break'>&nbsp;</div> <!-- End of page 1 -->
     INTENTIONALLY BLANK
    <div class='page-break'>&nbsp;</div> <!-- End of page 2 -->
    <%= render 'invoice_page2/invoice_page2', invoice: invoice %>
    <div class='page-break'>&nbsp;</div> <!-- End of page 2 -->

  <% end %>
</div>

<div class = 'side-wrap flt-right'>
  <%= render 'layouts/sidebar' %>
</div>
