#
# .env file is to keep secrets away from scm (git)
#
# .env Supports a number of syntax. Examples use yaml

# 1) Rename the file to .env
# 2) Uncomment these variables, ADMIN_USER etc, with correct information.
#
# ADMIN_USER: 'my_user_name'
# ADMIN_PASSWORD: 'my_password'

# You can use `rake secret` to generate a secure secret key.
# SECRET_KEY_BASE: 'my_long_long_secret'

