<% invoice_text_page1 = InvoiceText.first %>

<div  class='grid-row  c-align  h1-print'>
	<%= invoice_text_page1.invoice_name %>
</div>

<div  class='grid-row  inv-bold-headings  c-align'>
  <%= invoice_text_page1.address.text %>
	<div>Telephone: <%= invoice_text_page1.phone %></div>
	<div  class='bottom-1-line-spacer'>VAT Reg No: <%= invoice_text_page1.vat %></div>
</div>
