<% invoice_text_page1 = InvoiceText.first %>

<div  class='grid-row  c-align  h1print'>
	<%= invoice_text_page1.invoice_name %>
</div>
<div  class='grid-row  c-align  inv-bold-headings'>
  <%= invoice_text_page1.address.text %>
	<div>Telephone: <%= invoice_text_page1.phone %></div>
	<div  class='bottom-line-spacer'>VAT Reg No: <%= invoice_text_page1.vat %></div>
</div>
