<% invoice_text_front = InvoiceText.find(1) %>

<div class='grid-row  c-align  h1print'>
	<%= invoice_text_front.invoice_name %>
</div>
<div class='grid-row  c-align  inv-bold-headings'>
  <%= invoice_text_front.address.text %>
  <br>
	Telephone: <%= invoice_text_front.phone %>
	<br>
	VAT Reg No: <%= invoice_text_front.vat %>
</div>
<br>