  <div class='col-22-24 grid-row  widemargin  inv-advice'>
    <%= simple_format(invoice_text.advice1) %>
  </div>
  <div class='col-2-24'>
    &nbsp;
  </div>

  <div class='col-22-24  grid-row  widemargin inv-advice'>
    <%= simple_format(invoice_text.advice2) %>
  </div>
  <div class='col-2-24'>
    &nbsp;
  </div>
