  <div class='grid-row  widemargin  inv-advice'>
    <%= simple_format(invoice_text.advice1) %>
  </div>

  <div class='grid-row  widemargin  inv-advice'>
    <%= simple_format(invoice_text.advice2) %>
  </div>
