  <div class='grid-row  wide-margin  small-font'>
    <%= simple_format(invoice_text.advice1) %>
  </div>

  <div class='grid-row  wide-margin  small-font'>
    <%= simple_format(invoice_text.advice2) %>
  </div>
