<% invoice_text_page1 = InvoiceText.find(TEXT_PAGE_1) %>
<%= render 'heading_page2_address', invoice_text: invoice_text_page1 %>
<%= render 'heading_page2', invoice_text: invoice_text_page1 %>

<%= render invoice_text_back.guides %>
<div class='widemargin  instruct-font'>
  CLIENT'S ADDRESS
</div>
<%= render 'notices', invoice_text: invoice_text_back %>