<div class="grid">

  <div class='col-6-24  grid-row  bottom-spacer  faded'>
    <%= f.label :advice1, '1st Text Block', class: 'required' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_area :advice1, size: "30x8" %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer  faded'>
    <%= f.label :advice2, '2nd Text Block', class: 'required' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_area :advice2, size: "30x8" %>
  </div>

</div>
