<div class='grid'>

  <div class='col-6-24  grid-row  bottom-spacer  faded  l-wide-pad'>
    <%= f.label :heading1, '1st Heading' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :heading1 %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer  faded  l-wide-pad'>
    <%= f.label :heading2, '2nd Heading' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :heading2 %>
  </div>

</div>
