<div class='grid'>

  <div class='col-6-24  grid-row  bottom-spacer  faded'>
    <%= f.label :heading1, 'Main Heading' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :heading1 %>
  </div>

  <div class='col-6-24  grid-row  bottom-spacer  faded'>
    <%= f.label :heading2, 'Subheading' %>
  </div>
  <div class='col-18-24  bottom-spacer'>
    <%= f.text_field :heading2 %>
  </div>

</div>
