<% @title='View Invoice Text' %>
<div id='invoice_text'  class='Shell  u-padding-1-12'>
  <div class='col-23-24  bottom-spacer'>&nbsp;</div>
  <div class='col-1-24  bottom-spacer'>
    <%= edit_link @invoice_text %>
  </div>
  <% if @invoice_text.page1? %>
    <%= render 'page1', invoice_text_page1: @invoice_text %>
  <% else %>
    <%= render 'page2', invoice_text_page2: @invoice_text %>
  <% end %>
</div>
