<% @title='View Invoice Text' %>
<div id='invoice_text' class='shell  invoice_text-padding'>
  <div class='col-12-24  bottom-spacer'>
    &nbsp;
  </div>
  <div class='col-12-24  bottom-spacer'>
    <%= edit_link @invoice_text %>
  </div>

  InvoiceText Number <%= @invoice_text.id %>

  <% if @invoice_text.id == InvoiceText::PAGE_1 %>
    <%= render 'page1', invoice_text_page1: @invoice_text %>
  <% else %>
    <%= render 'page2', invoice_text_back: @invoice_text %>
  <% end %>
</div>
