 <div class='grid  Panel Panel-Content  u-padding-1-100'>

  <% batch_months = BatchMonths.make(month: month) %>
  <%= render 'client_payments/client_payment', client_payment: @client_payment, month: month %>


</div> <!-- grid  Panel Panel-Content  -->