<div class='col-15-24  grid-row  grid-footer-text  vertical-spacer'>
   &nbsp;
</div>
<div class='col-2-24  grid-footer-text  vertical-spacer'>
   Total
</div>
<div class='col-3-24  grid-footer-number  vertical-spacer  r-align'>
  <%= to_decimal client_payment.total(period: client_payment.total_period(year: params[:years], month: batch_months.now)) %>
</div>
