<h2>New Charge Properties</h2>

CHARGE ME!

<%= form_tag apply_debts_path, method: :put do %>
  <%= render 'properties/index_table', properties: @properties, show_checkbox: true, show_actions: false  %>

  <%= submit_tag 'Charge Properties' %>
<% end %>