<h2>New Invoice</h2>

<%= form_for @debt_generator do |debt_gen_form| %>
  <%= render 'shared/errors', object: @debt_generator %>
  <fieldset id='debt_generator' class='shell' style='position: relative;'>
<p>
  <%= render 'search_chargeable_properties', debt_gen_form: debt_gen_form %>
</p>

 <%= render 'chargeable_properties', debt_gen_form: debt_gen_form %>

<% end %>
