<% action = false if local_assigns[:action].nil? %>
<% payment = :payment if local_assigns[:payment].nil? %>

<div class='col-2-24  grid-row  bottom-spacer  grid-header  r-align'>
  Property
</div>
<div class='col-6-24  bottom-spacer  grid-header'>Bill</div>
<div class='col-7-24  bottom-spacer  grid-header'>Address</div>
<% if payment == :payment %>
  <div class='col-7-24  bottom-spacer  grid-header'>Charge</div>
<% elsif payment == :automatic %>
  <div class='col-7-24  bottom-spacer  grid-header'>Standing Order</div>
<% else %>
  <div class='col-7-24  bottom-spacer  grid-header'>Unknown</div>
<% end %>
<div class='col-2-24  bottom-spacer  grid-header  no-r-pad  no-print'>
  <% if action %>
    Action
  <% else %>
    &nbsp;
  <% end %>
</div>