<div class='grid-row  insert-margin  insert-font'>
  <%= invoice_page2.guides[guideno].instruction %>
</div>

<div class='grid-row  widemargin  instruct-font'>
  <%= invoice_page2.guides[guideno].fillin %>
  <%= info %>
</div>
