<div class='grid-row  insert-margin  insert-font'>
  <%= @template.guides[guideno].instruction %>
</div>
<div class='grid-row  widemargin  instruct-font'>
  <%= @template.guides[guideno].fillin %>
  <%= info %>
</div>
