<div class='col-1-1  grid-row'>
  <h3>Deliver</h3>
</div>
<%= render 'invoices/invoice_header', action: action %>
<% run.deliver.each do |invoice| %>
  <%= render 'invoices/invoice', invoice: invoice, action: action %>
<% end %>
<div class='col-1-1  grid-row  top-line-spacer'>
  <h3>Retain</h3>
</div>
<%= render 'invoices/invoice_header', action: false %>
<% run.retain.each do |invoice| %>
  <%= render 'invoices/invoice', invoice: invoice %>
<% end %>