<% invoice_decorator = InvoiceDecorator.new(invoice) %>
<div class='grid-row col-3-24 vertical-spacer r-align'>
  <%= invoice_decorator.property_ref %>
</div>
<div class='col-5-24 vertical-spacer'>
  <%= invoice_decorator.billing_agent %>
</div>
<div class='col-5-24 vertical-spacer'>
  <%= invoice_decorator.billing_first_address_line %>
</div>
<div class='col-11-24 vertical-spacer'>
  <%= invoice_decorator.products_display %>
</div>
