<div class='col-2-24 bottom-spacer  grid-header  r-align'>Property</div>
<div class='col-6-24 bottom-spacer  grid-header'>Billing Agent</div>
<div class='col-6-24 bottom-spacer  grid-header'>Billing Address</div>
<div class='col-10-24 bottom-spacer grid-header'>Charge</div>