<div class='grid-row col-3-24 bottom-spacer grid-header r-align'>
  Property ID
</div>
<div class='col-5-24 bottom-spacer grid-header'>
  Billing Agent
</div>
<div class='col-5-24 bottom-spacer grid-header'>
  Billing Address
</div>
<div class='col-9-24 bottom-spacer grid-header'>
  Charge
</div>
<div class='col-2-24 bottom-spacer no-print grid-header'>
  Action
</div>