<% @title='Invoice View' %>
<div class='grid-row col-20-24'>
  &nbsp;
</div>
<div class='col-4-24 inv-advice-bold'>
  <%= link_to fa_icon('print lg'), single_print_path(@invoice), title: 'Print' %>
</div>

<div class='grid shell'>
    <%= render 'invoice_page1', invoice: @invoice %>
</div>

<div class='grid shell'>
  <%= render 'invoice_page2/invoice_page2', invoice: @invoice %>
</div>
