<% @title='Invoice Print' %>
  <div class='page' >
    <%= render 'invoice_page1', invoice: @invoice  %>
  </div>
  <div class='page' >
    <%= render 'invoice_page2', invoice: @invoice %>
  </div>
</div>
