<% template = ::Template.find(1) %>

<div class='grid-row c-align h1print'>
	<%= template.invoice_name %>
</div>
<div class='grid-row c-align inv-bold-headings'>
  <%= template.address.text %>
  <br>
	Telephone: <%= template.phone %>
	<br>
	VAT Reg No: <%= template.vat %>
</div>
<br>