<div class='insert'>
  <br>
  <%= @template.guides.find(count).instruction %>
  <br>
</div>
<div class='widemargin'>
  <%= @template.guides.find(count).fill_in %> <%= @template.guides.find(count).sample %>
</div>
