  <div class='col-22-24 grid-row widemargin inv-advice'>
    <%= simple_format(template.advice1) %>
  </div>
  <div class='col-2-24'>
    &nbsp;
  </div>

  <div class='col-22-24 grid-row widemargin inv-advice'>
    <%= simple_format(template.advice2) %>
  </div>
  <div class='col-2-24'>
    &nbsp;
  </div>
