<%= render 'heading_p2_address', template: @template %>

<%= render 'heading_page2', template: @template %>

 <!-- render '/guides/guides_for_template', template: @template  -->

<%= render @template.guides %>

<div class='widemargin  instruct-font'>
  CLIENT'S ADDRESS
</div>

<%= render 'notices', template: @template %>
