<%= render 'heading_page2', template: @template %>

<%= render '/templates/guides', template: @template %>

<div class='widemargin'>
  CLIENT'S ADDRESS
  <br>
  <%= simple_format(@template.advice1) %>
  <p>
  <%= simple_format(@template.advice2) %>
  </p>
</div>
