<% template_front = ::Template.find(1) %>
<%= render 'heading_p2_address', template: template_front %>
<%= render 'heading_page2', template: template_front %>

<%= render template_back.guides %>
<div class='widemargin  instruct-font'>
  CLIENT'S ADDRESS
</div>
<%= render 'notices', template: template_back %>