<div  class='c_align'>
  <button  class='js-cancel-help  cancel-button'>cancel</button>
  <button  class='js-help  help-button'>
    next <i class='fa fa-arrow-right'></i>
  </button>&nbsp; &nbsp; &nbsp; &nbsp;
</div>
