<div id='help-6'  class='hide  pt-right  speech-right'>
  <h3 class='help-heading'>
    <i class='<%= pic %> fa-lg  help-icon'></i>
    <%= line1 %>
  </h3>
  <%= line2 %><br>
  <%= render 'bubbles/box' %>
</div>
