<div id='help-3'  class='hide  pt-right  speech-right'>
  <h3 class='help-heading'>
    <i class='fa fa-gbp  fa-lg  help-icon'></i>
    Payment Button
  </h3>
  Use to make a new payment<br>
  <%= render 'bubbles/box' %>
</div>
