<div  class='Bubble-point-right'>
  <div id='help_2'  class='hide  pt-right  speech-right'>
    <h3 class='help-heading'>
      <i class='fa fa-edit  fa-lg  help-icon'></i>
      <%= data_type.capitalize %> Edit Button
    </h3>
    Link to edit, to update <%= data_type %> details<br>
    <%= render 'bubbles/box' %>
  </div>
</div>
