<div class='Bubble-pt-right'>
  <div id = 'help_2' class='hide  bubble  speech'>
    <h3 class='help-heading'>
      <i class='fa fa-file-o  fa-lg  help-icon'></i>
      View <%= data_type.capitalize %> Details
    </h3>
    Click on a row for that <%= data_type %> details<br>
    <%= render 'bubbles/box' %>
  </div>
</div>