<div id='help_0'  class='hide  bubble-intro  Bubble-centre'>
  <p>
    <h3 class='help-heading  bottom-1-line-spacer'>&nbsp; &nbsp;
      <i class='fa fa-info-circle fa-lg'></i>
      <%= heading %>
    </h3>
  </p>

  <div class='text-in-box'>
    <% lines.each do |lines| %>
        <p><%= lines %></p>
    <% end %>
  </div>

  <div class='icons-in-box'>

    <p><i class='fa fa-print fa-lg  help-button'></i>&nbsp; Prints out complete run of invoices </p>
    <p><i class='fa fa-plus fa-lg  help-button-red'></i>&nbsp; Creates the run of 2nd invoices</p>
    <p><i class='fa fa-trash-o fa-lg  help-button'></i>&nbsp; Deletes this run of invoices</p>

  </div>

  <div  class='buttons-in-box  c_align'>
    <button  class='js-cancel-help  cancel-button'>cancel</button>
  </div>

</div>
