<div id = 'help-2' class='hide  bubble  speech'>
  <h3 class='help-heading'>
  <i class='<%= pic %>  help-icon'></i>
  <%= line1 %></h3>
  <%= line2 %><br>
  <button  class='js-cancel-help  cancel-button'>cancel</button>
  <button  class='js-help  help-button' >
  next <i class="fa fa-arrow-right"></i>
  </button>
</div>
