<div  class='Bubble-point-right'>
  <div id='help_2'  class='hide  pt-right  speech-right'>
    <h3 class='help-heading'>
      <i class='fa fa-file-o  fa-lg  help-icon'></i>
      <%= data_type.capitalize %> View Button
    </h3>
    Use this button to view <%= data_type %> details. Grey button cannot be viewed.<br>
    <%= render 'bubbles/box' %>
  </div>
</div>
