<div id='help_-1'  class='hide  bubble  speech-up'>
 <h3 class='help-heading'>
  <i class='fa fa-sign-out  fa-lg  help-icon'></i>
  Log out Button
  </h3>
  Use drop down menu box, on user's button to log in or out<br>
  <%= render 'bubbles/box' %>
</div>
