<div id='help-2'  class='hide  pt-right  speech-right  no-print'>
  <h3 class='help-heading'>
    <i class='fa fa-gbp  fa-lg  help-icon'></i>
    Payment Button
  </h3>
  <%= line2 %><br>
  <%= render 'bubbles/box' %>
</div>
