<div id='help_-2'  class='hide  bubble  speech-print'>
  <h3 class='help-heading'>
    <i class='fa fa-print  fa-lg  help-icon'></i>
    Print Button
  </h3>
  Prints this page with no menu but with correct heading and today's date<br>
  <%= render 'bubbles/box' %>
</div>
