<div id='help-1'  class='hide  bubble  speech'>
  <h3>Click on row</h3>
  to view details<br>
  <button  class='js-cancel-help  help-button'> x </button>
  <button  class='js-help  help-button'> next > </button>
</div>

