<div id='help-edit'  class='hide  bubble  speech'>
 <h3><%= line1 %></h3>
  <%= line2 %><br>
  <button  class='js-cancel-help  help-button'><i class="fa fa-close"></i></button>
  <button  class='js-help  skip="0"  help-button'> next <i class="fa fa-arrow-right"></i></button>
</div>
