<div id='help-pr'  class='hide  bubble  speech-up'>
  <i class="fa fa-print  fa-lg  help-icon"></i>
  <h3>Print Button</h3>
  Print this page with no menu and no heading<br>
  <%= render 'bubbles/box' %>
</div>
