<div id='help-1'  class='hide  pt-right  speech-right  no-print'>
<h3> Edit Button</h3>
  Use update data<br>
  <button  class='js-cancel-help  help-button'> x </button>
  <button  class='js-help-short  help-button'> next > </button>
</div>
