<div id='help-edit'  class='hide  bubble  speech'>
 <h3>Edit Button</h3>
 Use to update data<br>
  <button  class='js-cancel-help  help-button'> x </button>
  <button  class='js-help  skip="0"  help-button'> next > </button>
</div>
