<div id='help-log'  class='hide  bubble  speech-up'>
  <i class="fa fa-sign-out  fa-lg  help-icon"></i>
  <h3>Log out Button</h3>
  Log in & out below admin button<br>
  <%= render 'bubbles/box' %>
</div>
