<div id='help-log'  class='hide  bubble  speech-up'>
 <h3 class='help-heading'>
  <i class='fa fa-sign-out  fa-lg  help-icon'></i>
  Log out Button
  </h3>
  Log in & out below user's button<br>
  <%= render 'bubbles/box' %>
</div>
