<div id='help-pay'  class='hide  bubble  speech'>
 <h3>Pay Button</h3>
  Use for payments<br>
  <button  class='js-cancel-help  help-button'> x </button>
  <button  class='js-help  help-button'> next > </button>
</div>
