<div id='help-delete'  class='hide  bubble  speech'>
  <h3>Delete Button</h3>
  Use to remove data<br>
  <button  class='js-cancel-help  help-button'> x </button>
  <button  class='js-help  skip="0"  help-button'> next > </button>
</div>
