<div id='help-1'  class='hide  pt-right  speech-right  no-print'>
  <h3>View Button</h3>
 to check data details<br>
  <button  class='js-cancel-help  help-button'> x </button>
  <button  class='js-help-short  help-button'> next > </button>
</div>
