<div id='help-1'  class='hide  bubble  speech'>
  <h3 class='help-heading'>
  <i class="fa fa-eye fa-lg  help-icon"></i>
  Click on row</h3>
  to view details<br>
  <%= render 'bubbles/box' %>
</div>

