<div class='Bubble-search'>
  <div id='help-1'  class='hide  bubble  speech-up'>
    <h3 class='help-heading'>
      <i class='fa fa-search  fa-lg  help-icon'></i>
      Account Search Box
    </h3>
    Search by number, name or part address<br>
    <%= render 'bubbles/box' %>
  </div>
</div>
