<div id='help-search'  class='hide  bubble-wide  speech-up'>
  <h3 class='help-heading'>
    <i class='fa fa-search  fa-lg  help-icon'></i>
    <%= line1 %>*
  </h3>
  <%= line2 %><br>
  <%= render 'bubbles/box' %>
</div>
