<div class='insert'>
  <br>
  <%= Sheet.find(2).notices.find(count).instruction %>
  <br>
</div>
<div class='widemargin'>
  <%= Sheet.find(2).notices.find(count).clause %> <%= Sheet.find(2).notices.find(count).proxy %>
</div>
