<% @title='Sheets' %>

<div class='grid shell'>

  <% if @sheets.present? %>
    <div class='col-1-4 vertical-spacer grid-header r-align'>
      Page number
    </div>
    <div class='col-1-4 vertical-spacer grid-header'>
      Contains
    </div>
    <div class='col-1-4 vertical-spacer grid-header'>
      Actions
    </div>

    <% @sheets.each do |sheet| %>
      <div class='col-1-4 vertical-spacer grid-row r-align'>
        <%= link_to sheet.id, edit_sheet_path(sheet) %>
      </div>
      <div class='col-1-4 vertical-spacer'>
       <%= sheet.description %>
      </div>
      <div>
        <nav class='col-1-4 vertical-spacer'>
          <%= link_to 'Edit', edit_sheet_path(sheet) %> |
          <%= link_to 'View', sheet_path(sheet) %>
        </nav>
      </div>
    <% end %>
  <% else %>
    No Pages Found
  <% end %>

</div>
