<% @title='Invoicing' %>

<div class='wrap-print  float-left'>
  <% @invoicing.runs.last.invoices.each do |invoice| %>

    <%= render 'invoices/invoice_page1', invoice: invoice %>
    <div class='page-break'>&nbsp;</div> <!-- End of page 1 -->
    <div class='col-24-24  grid-row'>INTENTIONALLY BLANK</div>
    <div class='page-break'>&nbsp;</div> <!-- End of page 2 -->
    <%= render 'invoice_page2/invoice_page2', invoice: invoice %>
    <div class='page-break'>&nbsp;</div> <!-- End of page 2 -->

  <% end %>
</div>

<div class = 'side-wrap  float-right'>
  <%= render 'layouts/sidebar' %>
</div>
