<% @title='View User' %>

<div class='grid shell'>
  <div class='col-18-24 vertical-spacer'>
    <div class='grid-row col-1-6'>
      &nbsp;
    </div>
    <div class='col-1-6 vertical-spacer faded'>
      User ID
    </div>
    <div class='col-4-6 vertical-spacer'>
      <%= @user.id %>
    </div>

    <div class='grid-row col-1-6'>
      &nbsp;
    </div>
    <div class='col-1-6 vertical-spacer faded'>
      Nickname
    </div>
    <div class='col-4-6 vertical-spacer'>
      <%= @user.nickname %>
    </div>

    <div class='grid-row col-1-6'>
      &nbsp;
    </div>
    <div class='col-1-6 vertical-spacer faded'>
      email
    </div>
    <div class='col-4-6 vertical-spacer'>
      <%= @user.email %>
    </div>

    <div class='grid-row col-1-6'>
      &nbsp;
    </div>
    <div class='col-1-6 vertical-spacer faded'>
      Admin
    </div>
    <div class='col-4-6 vertical-spacer no-r-pad'>
      <% if @user.admin %>
        Yes
      <% else %>
        No
      <% end %>
    </div>
  </div>
  <div class='col-6-24 vertical-spacer  no-r-pad'>
    <%= link_to fa_icon('edit 2x'), edit_user_path(@user), class: 'simple-button float-right' %>
  </div>
</div> <!-- grid shell -->
