<% @title='New User' %>
<div class='shell'>
  <h2>User ID:
    <%= @user.id %>
      <%= link_to 'Edit', edit_user_path(@user), class: 'link-button' %>
  </h2>
  <span class='boldfloat'>email:</span><%= @user.email %>
  <span class='boldfloat'>Admin:</span>
  <% if @user.admin %>
    Yes
  <% else %>
     No
  <% end %>
</div>

<p>
 <%= link_to 'Print This Page', '#', class: 'print-window  simple-button'%>
</p>

