<% @title='New User' %>
<div class='shell'>

  <div class="grid">
    <div class='col-1-2 vertical-spacer'>
      <h2>User ID: <%= @user.id %></h2>
    </div>
    <div class='col-1-2 vertical-spacer  no-r-pad'>
      <%= link_to 'Edit', edit_user_path(@user), class: 'simple-button float-right' %>
    </div>
  </div>
  <br>

  <div class='grid'>

    <div class='col-1-6 vertical-spacer r-align'>
     email:
    </div>
    <div class='col-1-3 vertical-spacer'>
     <%= @user.email %>
    </div>
    <div class='col-1-6 vertical-spacer r-align'>
     Admin:
    </div>
    <div class='col-1-3 vertical-spacer no-r-pad'>
      <% if @user.admin %>
      Yes
      <% else %>
      No
      <% end %>
    </div>

  </div>

</div>
