<% @title='New User' %>
<div class='shell'>
  <h2>User ID:
    <%= @user.id %>
    <span class='link-button'>
      <%= link_to 'Edit', edit_user_path(@user) %>
    </span>
  </h2>
  <span class='boldfloat'>email:</span><%= @user.email %>
  <span class='boldfloat'>Admin:</span>
  <% if @user.admin %>
    Yes
  <% else %>
     No
  <% end %>
</div>

<p>
 <span class='simple-button'><%= link_to 'Print This Page', '#', class: 'print-window'%></span>
</p>

