<% @title='View User' %>

<div class='shell'>

  <div class="grid">
    <div class='col-1-2 vertical-spacer'>
      <h2>User View</h2>
    </div>
    <div class='col-1-2 vertical-spacer  no-r-pad'>
      <%= link_to 'Edit', edit_user_path(@user), class: 'simple-button float-right' %>
    </div>
  </div>

  <div class='grid'>

    <div class='col-1-6 vertical-spacer faded'>
     User ID
    </div>
    <div class='col-5-6 vertical-spacer'>
     <%= @user.id %>
    </div>

    <div class='col-1-6 vertical-spacer faded'>
     Nickname
    </div>
    <div class='col-5-6 vertical-spacer'>
     <%= @user.nickname %>
    </div>

    <div class='col-1-6 vertical-spacer faded'>
     email
    </div>
    <div class='col-5-6 vertical-spacer'>
     <%= @user.email %>
    </div>

    <div class='col-1-6 vertical-spacer faded'>
     Admin
    </div>
    <div class='col-5-6 vertical-spacer no-r-pad'>
        <% if @user.admin %>
      Yes
      <% else %>
      No
      <% end %>
    </div>
  </div>
</div>
