
<fieldset id = "no_agent"  "class = "disable">

  <div class='field text require'>
    <label for="name">Name</label>
    <input type="text"  disabled="disabled" name="roadnotext"  value="" />
  </div>

  <div class='field text require'>
    <label for="roadno">Road no</label>
    <input type="text"  disabled="disabled" name="roadnotext"  value="" />
  </div>

  <div class='field text require'>
    <label for="road">Road </label>
    <input type="text"  disabled="disabled" name="roadtext" value="" />
  </div>

</fieldset>