<h3>Due Date</h3>
<div class='toggle-selection'>
  <div class='togglable'>
    <h4>on date <a href='#' class='toggle toggle-event'> or every month</a></h4>
    <% due_ons.by_date.each do |due_on| %>
      <%= f.fields_for :due_ons, due_on do |builder| %>
        <%= render partial: 'due_on', locals: { f: builder, due_on: due_on, parent: due_ons.id(f.options[:child_index]) } %>
      <% end %>
    <% end %>
  </div>
  <div class='togglable hidden'>
    <h4>every month <a href='#' class='toggle toggle-event'> or on date</a></h4>
    <% due_ons.every_month.each do |due_on| %>
      <%= f.fields_for :due_ons, due_on do |builder| %>
        <%= render partial: 'due_on', locals: { f: builder, due_on: due_on, parent: due_ons.id(f.options[:child_index]) } %>
      <% end %>
    <% end %>
  </div>
</div>