<span id='<%= parent %>_due_on_<%= f.options[:child_index]  %>' >
  <%= f.text_field :day, placeholder: 'dd', class: 'width-2-24' %><span class='faded'>/</span><%= f.text_field :month, placeholder: 'mm', class: 'width-2-24' %>&nbsp;&nbsp;
</span>