<fieldset id='<%= parent %>_due_on_<%= index %>' class='minimal'>
  <div class='field text require quarter'>
    <%= f.text_field :day, placeholder: 'dd' %>/<%= f.text_field :month, placeholder: 'mm' %>
  </div>
</fieldset>