<div id='<%= parent %>_due_on_<%= f.options[:child_index]  %>' class='max-1-2'>
  <%= f.text_field :day, placeholder: 'dd', class: 'max-1-3' %>/<%= f.text_field :month, placeholder: 'mm', class: 'max-1-3' %>
</div>