<div class="disable">
  <div class='grid'>
    <div class='col-6-24 vertical-spacer grid-header faded'>
      Title
    </div>
    <div class='col-5-24 vertical-spacer grid-header faded'>
      Initials
    </div>
    <div class='col-11-24 vertical-spacer grid-header faded'>
      Name
    </div>
    <div class='col-2-24 vertical-spacer grid-header faded'>
      Do
    </div>
  </div>
</div>