<div class="disable">
  <div class='grid'>
    <div class='col-1-4 vertical-spacer'>
      <label>Name</label>
    </div>
    <div class='col-3-4 vertical-spacer  no-r-pad'>
        <input type="text"  disabled="disabled" value="" />
    </div>
    <div class='col-1-4 vertical-spacer'>
      <label>Road</label>
    </div>
    <div class='col-3-4 vertical-spacer  no-r-pad'>
      <input type="text"  disabled="disabled"  value="" />
    </div>
    <div class='col-1-4 vertical-spacer'>
      <label>Town </label>
    </div>
    <div class='col-3-4 vertical-spacer no-r-pad'>
      <input type="text"  disabled="disabled" value="" />
    </div>
  </div>
</div>