<p>
  <span class = 'floatleft'><%= object.charge_type %> in
  <%= object.due_in %></span>
  <%= number_to_currency object.amount %>

  <% object.due_ons.each do |due_ons| %>
   <%= render 'show_due_on', object: due_ons %>
  <% end %>
</p>