<article>
  <div class = 'showbox'>
    <h2>Property Id: </span>
      <%= @property.human_id %>
<table>
  <thead>
    <tr>
      <th>
        Type
      </th>
      <th class='alnright'>
        Date
      </th>
      <th>
        Description
      </th>
      <th class='alnright'>
       Due
      </th>
      <th class='alnright'>
        Payment
      </th>
      <th class='alnright'>
       Balance
      </th>
    </tr>
  </theadvi

</table>
</div>

 </article>