<% if object.use_profile? %>
  <% if object.entities.any? %>

    <% object.entities.each do |entity| %>

      <div class='grid'>
        <div class='col-1-4 vertical-spacer'>
          Agent
        </div>
        <div class='col-3-4 vertical-spacer'>
            <strong><%= render 'shared/show_entity', object: entity %></strong>
        </div>
      </div>
    <% end %>


    <div class='grid'>
      <div class='col-1-4 vertical-spacer'>
        Billing Address
      </div>
      <div class='col-3-4 vertical-spacer'>
          <strong><%= render 'shared/show_1_line_address', object: object.bill_to %></strong>
      </div>
    </div>

  <% end %>
<% else %>
 Billing to property address
<% end %>
