<div class = 'showbox'>
  <table>
    <thead>
      <tr>
        <th>
          Type
        </th>
        <th>
          Date
        </th>
        <th>
          Description
        </th>
        <th class='alnright'>
          Due
        </th>
        <th class='alnright'>
          Payment
        </th>
        <th class='alnright'>
          Balance
        </th>
      </tr>
    </thead>
    <tbody>
      <% total = 0 %>
      <% debits.each do |debit| %>
        <tr>
          <td>
            <%= debit.charge_id %>
          </td>
          <td>
           <%= l debit.on_date %>
          </td>
          <td>
          </td>
          <td class='alnright'>
            <%= debit.amount %>
          </td>
          <td class='alnright'>
          </td>
          <td class='alnright'>
            <%= total = total + debit.amount %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
