
<h2 class = "mainTitle">Properties</h2>

<%= render partial: 'properties/search'%>

<%= render partial: 'index_table', locals: { properties: @properties, show_actions: true } %>

<%= paginate @properties %>