<div class='grid'>
  <div class='col-12-24 vertical-spacer'>
    <h2>Cycle View</h2>
  </div>
  <div class='col-12-24 no-r-pad'>
    <%= link_to fa_icon('edit'), edit_cycle_path(@cycle), title: 'Edit', class: 'simple-button float-right' %>
  </div>
</div>

<div class='grid'>
  <div class='grid-row col-6-24 vertical-spacer'>
    &nbsp;
  </div>
  <div class='col-3-24 vertical-spacer faded'>
    Name
  </div>
  <div class='col-4-24  vertical-spacer'>
   <%= @cycle.name %>
  </div>
  <div class='col-11-24  vertical-spacer'>
    &nbsp;
  </div>

  <div class='grid-row col-6-24 vertical-spacer'>
    &nbsp;
  </div>
  <div class='col-3-24 vertical-spacer faded'>
    Order
  </div>
  <div class='col-1-24 vertical-spacer r-align'>
    <%= @cycle.order %>
  </div>
  <div class='col-14-24  vertical-spacer'>
    &nbsp;
  </div>
  <div class='grid-row col-24-24'>
    &nbsp;
  </div>
</div>

