<div class='js-reveal-parent'>
  <div class='col-5-24 vertical-spacer grid-header faded'>
    Type
  </div>
  <div class='col-4-24 vertical-spacer grid-header faded'>
    Title
  </div>
  <div class='col-3-24 vertical-spacer grid-header faded'>
    Initials
  </div>
  <div class='col-10-24 vertical-spacer grid-header faded'>
    Name
  </div>
  <div class='col-2-24 vertical-spacer grid-header faded'>
    Do
  </div>
  <% entitieable.entities.each.with_index do |entity, index| %>
    <%= f.fields_for :entities, entity do |builder| %>
      <%= render 'shared/entity2', f: builder, entitieable: entitieable, entity: entity, index: index %>
    <% end %>
  <% end %>
  <div class='col-1-1 vertical-spacer'>
    <%= link_to (fa_icon 'plus'), '#', class: 'js-reveal-link', title: 'Add Person' %>
  </div>
</div>
