<div class='selection'>
  <% entitieable.entities.each.with_index do |entity, index| %>
    <%= f.fields_for :entities, entity do |builder| %>
      <fieldset id='<%= entity_field_id entitieable, index %>' style='<%= hide_new_record_unless_first entity, index %>' >
        <%= render partial: 'shared/entity', locals: { f: builder } %>
      </fieldset>
    <% end %>
  <% end %>
  <a href="#" class="add">Add Person</a>
</div>