<h3>Company<span>&nbsp;<%= link_to ' or person', '#', class: 'toggle' %></span></h3>

<div class='field text require'>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.hidden_field :type %>
</div>

