<% if object.errors.any? %>
  <section class='error-shell' data-role='errors'>
    <h2 class='warn'>
      Oops Invalid! The <%= object.class.model_name.human.downcase %> could not be saved.
    </h2>
    <h3>
      Please correct the following <%= pluralize(object.errors.count, "error") %>:
    </h3>
    <ol>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </section>
<% end %>