<div class="grid">
  <div class="col-2-3">
     <article class="module">
       <%= render partial: 'client_form' %>
     </article>
  </div>
  <div class="col-1-3">
    <aside class="module">
       ADD SIDE BAR HERE
    </aside>
  </div>
</div>