<div class = "screen_only" >
	<%= form_tag clients_path, method: 'get' do %>
	  <p>
	     <%= text_field_tag :search, params[:search], data: {autocomplete_source: search_properties_path }, autofocus:true, class: 'noshowprint'  %>
	     <%= hidden_field_tag :search_action, search_action %>
	     <%= submit_tag search_label, name: nil, class: 'search' %>
	  	</p>
	<% end %>
</div>