<div class="no-print">
  <div class='grid'>
    <div class='col-2-3 form-wrapper'>
      <%= form_tag path, method: 'get' do %>
          <%= text_field_tag :search , params[:search], placeholder: 'Search here...', data: {autocomplete_source: search_properties_path}, autofocus:true, class: 'max-15-24' %>
           <div class="max-1-24 delete-x"><span class='x'>x</span></div>
           <button type="submit" class='max-8-24'>Search</button>
      <% end %>
    </div>
    <div class='col-1-3'>
      &nbsp;
    </div>
  </div>
  <br>
</div>