<% @title='Edit Client' %>
<div class='Bubble-search  no-print' id='help-me',  data-summit='3'>
<%= render 'bubbles/search', line1: 'Client Search Box', line2: 'Search by number, name or part address' %>
</div>

<%= render 'form', client: @client %>

