<div id='address'>
  <% property.abbreviated_address[0..-2].each do |line| %>
    <%= line %><br>
  <% end %>
  <%= property.abbreviated_address.last %> &hellip;<br>
</div>
<div id='js-popup' class='popup-pos overlay'>
  <% property.address_lines.each do |line| %>
    <%= line %><br>
  <% end %>
</div>
