<div id='address'>
  <%= property.address_name %><br>
  <%= property.abbreviated_address %>&hellip;<br>
</div>
<div id='js-popup' class='shell  overlay  popup'>
  <%= property.address_name %><br>
  <% property.address_lines.each do |line| %>
    <%= line %><br>
  <% end %>
</div>
