<div data-role='receivables'>
  <div class="col-15-24">
    <h3>Unpaid Debits</h3>
  </div>
  <div class="col-1-24 pick-out">
    <h3>&nbsp;</h3>
  </div>
  <div class="col-8-24 pick-out">
    <h3>Credits</h3>
  </div>

  <div class="col-6-24 grid-header">
    Charge
  </div>
  <div class="col-3-24 grid-header">
    &nbsp;
  </div>
  <div class="col-3-24 grid-header r-align">
    Amount
  </div>
  <div class="col-3-24 grid-header r-align">
    Owing
  </div>
  <div class="col-8-24 grid-header r-align pick-out">
    Payment
  </div>
  <div class="col-1-24 grid-header r-align pick-out">
    &nbsp;
  </div>
  <% @payment.credits_decorated.each do |credit| %>
    <%= payment_form.fields_for :credits, credit.source do |credit_form| %>
      <%= render 'payments/form/credit', credit_form: credit_form, credit: credit %>
    <% end %>
  <% end %>
</div>