<div class="col-12-24">
  &nbsp;
</div>
<div class="col-3-24 cell r-align">
  <h3>Total</h3>
</div>
<div class="col-1-24 cell pick-out">
  &nbsp;
</div>
<div class="col-7-24 cell r-align pick-out">
  <%= payment_form.text_field :amount, value: number_with_precision(payment_form.object.amount, precision: 2), readonly: true, class: 'js-payment-total r-align width-1-1' %>
</div>
<div class="col-1-24 cell pick-out">
  &nbsp;
</div>
