<div class='col-1-8 vertical-spacer grid-header grid-row'>
  Date
</div>
<div class='col-1-4 vertical-spacer grid-header'>
  Type
</div>
<div class='col-1-4 vertical-spacer grid-header'>
  Description
</div>
<div class='col-1-8 vertical-spacer grid-header r-align'>
  Due
</div>
<div class='col-1-8 vertical-spacer grid-header r-align'>
  Payment
</div>
<div class='col-1-8 vertical-spacer grid-header r-align'>
  Balance
</div>