<div class='col-1-8 vertical-spacer'>
  Date
</div>
<div class='col-1-4 vertical-spacer'>
  Type
</div>
<div class='col-1-4 vertical-spacer'>
  Description
</div>
<div class='col-1-8 vertical-spacer r-align'>
  Due
</div>
<div class='col-1-8 vertical-spacer r-align'>
  Payment
</div>
<div class='col-1-8 vertical-spacer r-align'>
  Balance
</div>