<div class='grid shell'>
  <div class='col-1-4 vertical-spacer'>
  </div>
  <div class='col-3-4 vertical-spacer'>
    <h2> bcs.io</h2>
    <h3>Looking for something?
      <br>
      We're sorry. The web address you entered is not a functioning page on this web site.
      <br>
      Please use the menu to return to a suitable page.
    </h3>
    <%= @title='Error 404 Page not found' %>.
  </div>
</div>
