<div class='grid shell'>
  <div class='col-1-4 vertical-spacer'>
  </div>
  <div class='col-3-4 vertical-spacer'>
    <h3>Sorry 500 error. <%= @title='Program problem' %>.
      <br>
      Please use menu to return to the program.
    </h3>
  </div>
</div>
