<div class='grid  shell'>
  <div class='col-1-4  bottom-spacer'>
  </div>
  <div class='col-3-4  bottom-spacer'>
    <h2> bcs.io</h2>
    <h3>We're sorry. The web page you were using has found a fault.</h3>
    <h3>Please use the menu to return to a suitable page.</h3>
    <h2><%= @title='Error 500' %>.</h2>
  </div>
</div>
