<div class='grid'>
  <div class='col-1-2 vertical-spacer'>
    <h2>Charge Cycle View</h2>
  </div>
  <div class='col-1-2 no-r-pad'>
    <%= link_to fa_icon('edit'), edit_charge_cycle_path(@charge_cycle), title: 'Edit', class: 'simple-button float-right' %>
  </div>
</div>

<div class='grid'>

<div class='col-1-4 vertical-spacer grid-row'>
  &nbsp;
</div>
<div class='col-1-6 faded'>
   Name
  </div>
  <div class='col-1-6'>
   <%= @charge_cycle.name %>
  </div>

  <div class='col-1-4 vertical-spacer grid-row'>
    &nbsp;
  </div>
  <div class='col-1-6 faded'>
   Order
  </div>
  <div class='col-1-6'>
   <%= @charge_cycle.order %>
  </div>

  <hr class = 'faded'>
</div>
