<div class='top'></div>
<h2>Unpaid Debits</h2>
<table>
  <thead>
    <tr>
      <th>Charge</th>
      <th>Date</th>
      <th>Owed</th>
      <th>Payed</th>
    </tr>
  </thead>
  <tbody>
    <% if @payment.required? %>
      <% @payment.credits.each do |credit| %>
        <%= payment_form.fields_for :credits, credit do |credit_form| %>
          <%= render 'credit', credit_form: credit_form, credit: credit %>
        <% end %>
      <% end %>
    <% else %>
      Debit Free
    <% end %>
  </tbody>
</table>