<div class='top'>
  <h2>Property</h2>
  <% if @payment.present? %>
    <%= render 'address', property: PropertyDecorator.new(@payment.account.property) %>
</div>
  <div class='top'></div>
  <%= render 'payment_received', payment_form: payment_form  %>
<div class='top'>
  <h2>Unpaid Debits</h2>
    <%= render 'credits', payment_form: payment_form  %>
  <% else %>
    No Property Selected
  <% end %>

</div>
