<div class='top'>
  <h2>Property</h2>

  <% if @payment.present? %>
    <% if @payment.present? %>
      <%= render 'address', property: PropertyDecorator.new(@payment.account.property) %>
    <% end %>
</div>
<div class='top'>
  <h2>Unpaid Debts</h2>
    <%= render 'credits', payment_form: payment_form  %>
  <% else %>
    No Property Selected
  <% end %>

</div>
