<div>
  <h2>Property</h2>

  <% if @payment.present? %>
    <div class='grid'>
      <%= render 'address', property: PropertyDecorator.new(@payment.account.property) %>
    </div>

    <h2>Unpaid Debts</h2>
    <% @payment.account.unpaid_debts.each do |debt| %>
      <%= debt.inspect %><br>
    <% end %>

  <% else %>
    No Property Selected
  <% end %>

</div>
