<div class = 'showbox'>
  <p>
    Debits
  </p>
  <table>
    <thead>
      <tr>
        <th>
          Date Due
        </th>
         <th>
          Charge Type
        </th>
        <th class='alnright'>
          Amount
        </th>
      </tr>
    </thead>
    <tbody>
      <% @property.account.unpaid_debits.each do |debit| %>
      <tr>
        <td>
            <%= l debit.on_date %>
        </td>
        <td>
            <%= debit.charge.charge_type %>
        </td>
        <td class='alnright'>
          <%= debit.amount %>
        </td>
      </tr>
       <% end %>
    </tbody>
  </table>
 </div>