<div class='top'></div>
<h2>Payment Received</h2>
<div class="grid container">
  <div class="col-1-4 grid-header">
    Type
  </div>
  <div class="col-3-8 grid-header">
    Paid On
  </div>
  <div class="col-3-8 grid-header pick-out">
    Payment Amount
  </div>

  <div class="col-1-4 top-body">
    <%= payment_form.label 'Cheque' %>
  </div>
  <div class="col-3-8 top-body">
    <%= payment_form.date_field :on_date %>
  </div>
  <div class="col-3-8 top-body pick-out">
    <%= payment_form.hidden_field :account_id %>
    <%= payment_form.submit 'pay total', name: 'create' , disabled: !@payment.required?, class: 'x-large' %>
  </div>
</div>