<div class='col-1-1  grid-row  pick-out'>&nbsp;</div>

<div class='col-1-24  grid-row  pick-out'><h2>&nbsp;</h2></div>
<div class='col-23-24  top-double-spacer  pick-out'>
  <h2>Payment Received</h2>
</div>

<div class='col-1-24  grid-row  grid-pick-header  pick-out'>&nbsp;</div>
<div class='col-14-24 grid-pick-header  pick-out'>Booked At</div>
<div class='col-1-24  grid-pick-header  pick-out'>&nbsp;</div>
<div class='col-8-24  grid-pick-header  pick-out'>Payment Amount</div>
