<h3>Which property to book payment?</h3>
<div class="grid">
  <div class="col-1-2">
    <%= payment_form.text_field :human_id, autofocus:true %>
  </div>
  <div class="col-1-2">
    <%= payment_form.submit 'Search' %>
  </div>
</div>
