<% @title='Payments Entered' %>
<div class='no-print'>
  Find which payments were entered on a day
  <%= render 'payments/index/search' %>
</div>
<%= render 'payments/index/index_table', payments: @payments %>
