<% @title='Payments' %>

<div class='grid'>

  <div class='col-7-24  shell  grid-row  vertical-spacer  faded'>
    <%= render 'payments_by_dates/payments_by_dates', payments_by_dates: @payments_by_dates %>
  </div> <!-- column 1 -->
  <div class='col-1-24  vertical-spacer'>&nbsp;</div> <!-- column 2 -->
  <div class='col-16-24  shell vertical-spacer'>
    <%= render 'payments/payments', records: @records, date: params[:date] %>
  </div>  <!-- column 2 -->

</div>  <!-- grid -->