<% @title='New Payment' %>
<div class='Bubble-pay-search'>
  <%= render 'bubbles/wide_search', line1: 'New Payments Search Box', line2: 'Give the account number, to create the new payment' %>
</div>

<%= render 'payments/form', payment_dec: @payment %>
