<div class='col-1-8  grid-row  bottom-spacer  grid-header'>
  Date
</div>
<div class='col-1-4  bottom-spacer  grid-header'>
  Type
</div>
<div class='col-1-4  bottom-spacer  grid-header'>
  Description
</div>
<div class='col-1-8  bottom-spacer  grid-header  r-align'>
  Due
</div>
<div class='col-1-8  bottom-spacer  grid-header  r-align'>
  Payment
</div>
<div class='col-1-8  bottom-spacer  grid-header  r-align  no-r-pad'>
  Balance
</div>