<div class='grid-row col-8-24 vertical-spacer'>
  &nbsp;
</div>
<div class='col-3-24 vertical-spacer faded'>
  Due On Day
</div>
<div class='col-1-24 vertical-spacer r-align'>
  <%= @cycle.due_ons[0].day %>
</div>
<div class='col-12-24  vertical-spacer'>
  &nbsp;
</div>
