<div class='col-5-24  grid-row  faded'>Due On</div>
<div class='col-3-24  faded'>Day</div>
<div class='col-3-24  faded  r-align'>Month</div>
<div class='col-4-24  faded  r-align'>Year</div>

<% cycle.due_ons.each  do |due_on| %>

  <div class='col-5-24  grid-row  bottom-spacer'>&nbsp;</div>
  <div class='col-3-24  bottom-spacer  '><%= due_on.day %></div>
  <div class='col-3-24  bottom-spacer  r-align'><%= due_on.month %></div>
  <div class='col-4-24  bottom-spacer  r-align'><%= due_on.year %></div>
<% end %>
