<% debits.each do |debit| %>

  <div class='grid'>
    <div class='col-2-12 vertical-spacer r-align'>
      <%= debit.account.property.human_ref %>
    </div>
    <div class='col-1-12 vertical-spacer'>
      -
    </div>
    <div class='col-3-12 vertical-spacer'>
     <%= debit.charge_type %>
    </div>
    <div class='col-3-12 vertical-spacer r-align'>
       <%= debit.on_date %>
    </div>
    <div class='col-3-12 vertical-spacer r-align no-r-pad'>
     <%= debit.amount %>
    </div>
  </div>

<% end %>