<div class='grid shell'>
  <div class='col-1-3 vertical-spacer grid-header'>
    Search String
  </div>
  <div class='col-1-3 vertical-spacer grid-header'>
    Start Date
  </div>
  <div class='col-1-3 vertical-spacer grid-header'>
    End Date
  </div>

  <% debit_generators.each do |debit_generator| %>
    <div class='col-1-3 vertical-spacer grid-row'>
      <%= debit_generator.search_string %>
    </div>
    <div class='col-1-3 vertical-spacer'>
      <%= l debit_generator.start_date %>
    </div>
    <div class='col-1-3 vertical-spacer no-r-pad'>
      <%= l debit_generator.end_date %>
    </div>
  <% end %>
 </div>