<tr>
  <td colspan='4'>
    &nbsp;
  </td>
</tr>
  <div class='blank_slate_overlay'>
   <%= t('instruction.debit_generators.property_charge') %>
  </div
<tr>
  <td colspan='4'>
    &nbsp;
  </td>
</tr>
<tr>
  <td colspan='4'>
    &nbsp;
  </td>
</tr>