<tr>
  <td colspan='4'>
    &nbsp;
  </td>
</tr>
  <div class='blank_slate_overlay'>
   <%= t('info.property_charge_slate') %>
  </div
<tr>
  <td colspan='4'>
    &nbsp;
  </td>
</tr>
<tr>
  <td colspan='4'>
    &nbsp;
  </td>
</tr>