<tr>
  <td colspan='4'>
    &nbsp;
  </td>
</tr>
  <div class='blank_slate_overlay'>
      <p>Search for the properties to charge in the above search box.</p>
      Common searches are roads, flats and property id ranges. With property ranges use a hyphen e.g. 100-200
  </div>
<tr>
  <td colspan='4'>
    &nbsp;
  </td>
</tr>
<tr>
  <td colspan='4'>
    &nbsp;
  </td>
</tr>