<div class='print-only'>
  <div class='page' >
    <%= render partial: 'invoice_page1/print_invoice_page1', locals: {property_object: property_object, date_object: date_object} %>
  </div>
  <div class='page' >
    <%= render 'invoice_page2/check_GR', items: AccountDecorator.new(property_object.account).abbrev_items, property_object: property_object %>
  </div>
</div>
