<div class = "print_only">
	<div class = "h1print">F & L Adams </div>
   <div class ="h2print">
      <br>Residential Lettings & Property Management
  </div>

	<div class ="inv_bold">
		<div class="col-1-3">
	          VAT Reg No 277 9904 95
	    </div>
	    <div class="col-1-3">
	        &nbsp;
	    </div>
	    <div class="col-1-3">
	        2 Attwood Street<br>
	        Halesowen<br>
	        West Midlands<br>
	        B63 3UE<br>
	        Tel: 01215030992<br>
	    </div>
    </div>    
</div>