<% @title='Invoice' %>
<% if DebitGenerator.last.present? %>

  <% DebitGenerator.last.debits.sort{ |d1, d2| d1.account.property.human_ref <=> d2.account.property.human_ref}.each do |debit| %>
    <%= render partial: 'print_invoice', locals: {property_object: debit.account.property, date_object: Date.today} %>
  <% end %>

  <br>
  <%= render 'index_table', debit_generators: @debit_generators %>

<% else %>
  <div class='grid shell'>
   NO Invoice Range available
  </div>
<% end %>
