       
     <div class="page">
      <h1>Hi Page 1</h1>
    </div>
    <div class="page">
      <h1>Hi  Page 2</h1>
    </div>
    <div class="page">
      <h1>Hi Page 3</h1>
    </div>
    <button type="button" onclick="printpage()">Print Invoices</button>

