$print-background-white: #FFFFFF;       // white
$primary-background-color: #F8F8F8;    // off white
$secondary-background-color: #237CBE;  // Light blue
$primary-text-color: #444;             // Dark grey
$secondary-text-color: #777;           // Light grey
$primary-link-color: #2E6AA0;          // Dark Blue
$secondary-link-color: darken($primary-link-color, 60%);   // dark blue
$background-filler: #DDD;
$errors-background-color: #FFC;
$errors-text-color: #DC3D3D;
$subdued-color: darken($primary-background-color, 20%);
$flash-notice-color: #DBFFDD;
$flash-alert-color:  #FFE1DE;
$accent-color: #FAFBFF;           //white
$fieldset-color: lighten($secondary-background-color, 50%); // Light Blue
