
/*---------------------------------------------------*\

  $COLORS

  Defined colors

\*----------------------------------------------------*/


$primary-background: #F8F8F8;    // off white
$primary-background-print: #FFFFFF;    // white

$secondary-background: #237CBE;  // Light blue
$primary-text: #444;             // Very Dark grey
$secondary-text: #777;           // Light grey
$secondary-print-text: #5c5858;  // Light dolphin
$primary-link: #2E6AA0;          // Dark Blue
$secondary-link: darken($primary-link, 60%);   // dark blue
$background-filler: #DDD;              // Grey
$errors-head-background: #C5C5C5; // Grey
$errors-background: #FFC;         // Yellow
$warn: #DC3D3D;                         // Red
$errors-edge: #FFCC33;            // Orange-brown
$subdued: darken($primary-background, 20%);
$flash-notice: #DBFFDD;          // Pale Green
$flash-alert:  #FFE1DE;          // Pink
$accent: #FAFBFF;                // White
$fieldset: lighten($secondary-background, 50%); // Egg shell Blue


@mixin inverted-color {
  color: $primary-background-print;
  background-color: $secondary-background;
}
