
/*---------------------------------------------------*\

  $COLORS

  Defined colors

  $COLORSCHEME

  Color schemes only reside in this colors file.
  Variables that are used in the application should be
  expressed in terms of the colour scheme where approriate.

  Colors from:
  http://paletton.com/#uid=33w0Z0krWE7hbNgmGHXBHy3BFoJ
  Chose triad and added darker variant .... maybe should calculate it?

  Color naming hexidecimal from:
  http://chir.ag/projects/name-that-color/

\*----------------------------------------------------*/

// Whites
$color-alabaster:          #f8f8f8;             // off-white
$color-cream:              #ffc;                // ffffcc Cream


// Pallet Colors
$color-mariner:            #237bbe;             // Blue
$color-broom:              #ffed20;             // Washed Yellow
$color-amaranth:           #ea1e63;             // Pink (washed)
$color-venice-blue:        #0b4b7c;             // Darker Blue (variant)
$color-azure:              #2e6aa0;             // Medium Dark Blue


// Greys
$color-grey-alto:          #dcdcdc;             // Pale Grey Gainsbro
$color-silver-chalice:     #aaa;                // Light Grey
$color-boulder:            #777;                // Mediumum Dark Grey
$color-tundora:            #444;                // Very Dark Grey


// Process these colors into pallet
// Currently none!

$color-link-water:         #e6f1fa;             // Very Light Blue
$color-cornflower:         #a5cfee;             // Light to Medium Blue
// Flash Colors
$color-snowy-mint:        #dbffdd;               // Pale Green
$color-pippin:            #ffe1de;               // Pink

/*---------------------------------------------------*\

  $COLORVARIABLES

  Color variables are referenced throughout the application

\*----------------------------------------------------*/

// $base
$neutral:                             $color-alabaster;        // off white

$primary-background:                  $color-mariner;          // Light Blue
/* used as text color and hover background in menu */
$secondary-background:                $color-venice-blue;      // Darker Blue
$secondary-color:                     white;

$muted-border:                        $color-grey-alto;        // Very Pale Grey
$disabled-background:                 $color-grey-alto;        // Very Pale Grey

$fieldset:                            lighten($primary-background, 50%);  // Egg shell Blue
$pick-out:                            darken($fieldset, 5%);   // Darker Egg shell Blue

$shadow:                              $color-silver-chalice;   // box-shadows on all the controls

// $TYPOGRAPHY
$primary-text:                        $color-tundora;           // Very Dark
$secondary-text:                      $color-boulder;           // Mediumum Dark


// Primary action colors

$primary-action-background:           $color-amaranth;           // Pink
$primary-action-color:                white;
$primary-action-active-background:    lighten($primary-action-background, 5%);  // Blue
$primary-action-active-color:         white;


// $LINKS

$basic-link-color:                    $secondary-background;    // Blue
$basic-link-active-background:        $secondary-background;    // Blue
$basic-link-active-color:             white;


// $plain-link-background:            initial;                  // Could not get this to work.
$plain-link-color:                    $color-venice-blue;       // Blue
$plain-link-active-background:        $color-venice-blue;       // Blue
$plain-link-active-color:             white;


// $inverted-link-background:         initial;                  // Could not get this to work.
$inverted-link-color:                 white;
$inverted-link-active-background:     initial;
$inverted-link-active-color:          white;


// $Drop Down Menu
$drop-down-link-background:           $fieldset;
$drop-down-link-color:                $secondary-background;
$drop-down-link-active-background:    $secondary-background;
$drop-down-link-active-color:         $fieldset;


// $MENU
$menu-background:                     $color-link-water;        // Very Light Blue
$menu-border-left:                    $color-amaranth;          // Pink
$menu-border-bottom:                  $color-azure;             // Medium Dark Blue
$menu-color:                          $color-venice-blue;       // Darker blue
$menu-links-background:               $color-cornflower;        // Light to Medium Blue
$menu-item-color:                     $color-azure;             // Medium Dark Blue


// $BUTTONS

// Plain
$button-icon-background:              white;
$button-icon-color:                   $color-venice-blue;
$button-icon-active-background:       $color-venice-blue;
$button-icon-active-color:            white;

// Plain Disabled
// No 'active/hover' changes
$button-icon-disabled-background:     $disabled-background;     // Grey
$button-icon-disabled-color:          white;


$button-border:                       $color-broom;             // Yellow

// $ERROR
$errors-background:                   $color-cream;              // ffffcc Cream
$warn:                                $color-amaranth;           // Red

// $FLASH
$flash-notice:                        $color-snowy-mint;         // Pale Green :good
$flash-alert:                         $color-broom;              // Yellow     :netural
$flash-error:                         $color-pippin;             // Pink       :bad
$flash-opacity:                       .85;

// $Debug
$color-debug:                         black;


@mixin inverted-color {
  color: $neutral;
  background-color: $primary-background;
}

.inverted-color {
  @include inverted-color;
}

// Used in forms
.faded {
  color: $secondary-text;
}
