
/*----------------------------------------------------------------------------*\

  $COLORS

  Defined colors

  $COLORSCHEME

  Color schemes only reside in this colors file.
  Variables that are used in the application should be
  expressed in terms of the colour scheme where approriate.

  Colors from:
  http://paletton.com/#uid=33w0Z0krWE7hbNgmGHXBHy3BFoJ
  Chose triad and added darker variant .... maybe should calculate it?

  Color naming hexidecimal from:
  http://chir.ag/projects/name-that-color/

\*----------------------------------------------------------------------------*/


// Pallet Colors

// Primary color, Blue, and shades
$color-primary-shade-0:      #227dbe;    // $color-mariner
$color-primary-shade-1:      #6babd8;    // $color-danube
$color-primary-shade-2:      #4391c9;    // $color-Shakespeare
$color-primary-shade-3:      #0867a9;    // $color-bahama-blue
$color-primary-shade-4:      #064d7e;    // $color-venice-blue

// Secondary Color 1, Yellow, and shades
$color-secondary-shade-0:    #ffec20;    // $color-broom
$color-secondary-shade-1:    #fff376;    // $color-paris-daisy
$color-secondary-shade-2:    #fff04a;    // $color-gorse
$color-secondary-shade-3:    #ffe900;    // $color-turbo
$color-secondary-shade-4:    #c5b400;    // $color-buddha-gold


// Secondary Color 2 (calling tenary otherwise too close a name), Red/Pink
$color-ternary-shade-0:      #e81e65;    // $color-amaranth
$color-ternary-shade-1:      #f1709e;    // $color-froly
$color-ternary-shade-2:      #ec4580;    // $color-french-rose
$color-ternary-shade-3:      #e10050;    // $color-razzmatazz
$color-ternary-shade-4:      #ad003d;    // $color-shiraz


// Complimentary color, Orange
$color-complimentary-shade-0: #ff9e20;     // $color-tree-poppy
$color-complimentary-shade-1: #ffc376;     // $color-macaroni-and-cheese
$color-complimentary-shade-2: #ffb04a;     // $color-yellow-orange
$color-complimentary-shade-3: #ff9000;     // $color-pizass
$color-complimentary-shade-4: #c56f00;     // $color-indochine


//
// Neutral Colors
//

// Whites
$color-alabaster:          #f8f8f8;             // off-white
$color-cream:              #ffc;                // ffffcc Cream


// Greys
$color-grey-alto:          #dcdcdc;             // Pale Grey Gainsbro
$color-silver-chalice:     #aaa;                // Light Grey
$color-boulder:            #777;                // Mediumum Dark Grey
$color-tundora:            #444;                // Very Dark Grey



// Process these colors into pallet
// Currently none!

$color-link-water:         #e6f1fa;             // Very Light Blue
$color-cornflower:         #a5cfee;             // Light to Medium Blue
// Flash Colors
$color-snowy-mint:         #dbffdd;             // Pale Green



//
// $TYPOGRAPHY
//
$primary-text:                        $color-tundora;              // Very Dark


// Scheme
//
// Colors which work together.
//
// Contains
// Contrasting Pairs 'Opposites'
// - Given the palette color as background what should be the foreground?
// - Given the palette color as foreground what should be the background?
// Shadow color used for low-lighting, borders
//

// light
$scheme-light-background:        white;
$scheme-light-foreground:        $color-tundora;

// dark
$scheme-dark-background:         $color-primary-shade-0;
$scheme-dark-foreground:         white;

// active   (color: white, back dark-blue)
// 1) $link-plain-active-*
// 2) $button-icon-active-*
// 3) $tab-index-plain-active-*
// 4) $tab-index-focus-active-*

$scheme-active-background:       $color-primary-shade-4;
$scheme-active-foreground:       white;


// focus
$scheme-focus-background:       $color-complimentary-shade-0;
$scheme-focus-foreground:       $color-tundora;
$scheme-focus-shadow:           $color-complimentary-shade-4;


// disabled
$scheme-disabled-background:     $color-grey-alto;           // Very Pale Grey
$scheme-disabled-foreground:     $primary-text;




/*----------------------------------------------------------------------------*\

  $COLORVARIABLES

  Color variables are referenced throughout the application

\*----------------------------------------------------------------------------*/

// $base
$neutral:                             $color-alabaster;           // off white

$muted-border:                        $color-grey-alto;           // Very Pale Grey

$fieldset:                            lighten($color-primary-shade-0, 50%);  // Egg Shell  u-padding-1-100Blue

$pick-out:                            $color-primary-shade-1;

$shadow:                              $color-silver-chalice;      // box-shadows on all the controls
$color-faded:                         $color-boulder;             // Mediumum Dark




//
// Primary action colors
// module.buttons, module.search, module.tabs
//

$primary-action-background:           $color-ternary-shade-0;                   // Pink
$primary-action-color:                white;
$primary-action-active-background:    lighten($primary-action-background, 5%);  // Blue
$primary-action-active-color:         white;



//
// $module.buttons
//

// Plain
$button-icon-background:              white;
$button-icon-color:                   $color-primary-shade-4;    // venice-blue
$button-icon-active-background:       $scheme-active-background;    // venice-blue
$button-icon-active-color:            $scheme-active-foreground;


// Plain Disabled
// No 'active/hover' changes
$button-icon-disabled-background:     $scheme-disabled-background;     // Grey
$button-icon-disabled-color:          $scheme-disabled-foreground;


//
// $module.debug
//

$color-debug:                         black;



//
// $module.error
//

$errors-background:                   $color-secondary-shade-2;
$errors-warn:                         $color-ternary-shade-0;      // Pink



//
// $module.flash
//

$flash-notice:                        $color-snowy-mint;           // Pale Green :good
$flash-alert:                         $color-secondary-shade-3;    // Yellow     :netural
$flash-error:                         $color-ternary-shade-4;      // Pink       :bad
$flash-opacity:                       .85;



//
// $module.form



//
// $module.links
//

// $link-plain-background:            initial;                      // Could not get this to work.
$link-plain-color:                    $color-primary-shade-4;       // venice-blue
$link-plain-active-background:        $scheme-active-background;      // venice-blue
$link-plain-active-color:             $scheme-active-foreground;

// $link-inverted-background:         initial;                      // Could not get this to work.
$link-inverted-color:                 white;
$link-inverted-active-background:     initial;
$link-inverted-active-color:          white;



// $Drop Down Menu
$drop-down-border:                    $color-primary-shade-0;
$drop-down-link-background:           $fieldset;
$drop-down-link-color:                $color-primary-shade-4;
$drop-down-link-active-background:    $color-primary-shade-4;
$drop-down-link-active-color:         $fieldset;


// $MENU
$menu-background:                     $color-link-water;              // Very Light Blue
$menu-border-left:                    $color-ternary-shade-0;         // Pink
$menu-border-bottom:                  $color-primary-shade-2;         // Medium Dark Blue
$menu-color:                          $color-primary-shade-4;         // venice-blue
$menu-links-background:               lighten($color-primary-shade-1, 10%);    // Light to Medium Blue
$menu-item-color:                     $color-primary-shade-4;         // Medium Dark Blue


// $TABS

// index default
$tab-index-plain-background:        $scheme-dark-background;
$tab-index-plain-color:             $scheme-dark-foreground;
$tab-index-plain-active-background: $scheme-active-background;
$tab-index-plain-active-color:      $scheme-active-foreground;


// index focus
$tab-index-focus-background:          $color-complimentary-shade-0;
$tab-index-focus-border-color:        $color-complimentary-shade-3;
$tab-index-focus-active-background:   $scheme-active-background;
$tab-index-focus-active-color:        $scheme-active-foreground;



// $SEARCH
$search-wrapper-background:           $color-primary-shade-0;



// Used in forms
.faded {
  color: $color-faded;
}

.focus {
  background:   $scheme-focus-background;
  color:        $scheme-focus-foreground;
}
