@mixin body-print {
  background-color: $neutral-print;
  color: $primary-text;
  margin-left: .20cm;
  margin-right: .20cm;
  margin-top: 0;
  width: 22cm;
}


/*
  A clearfix is a way for an element to automatically clear its child elements,
  so that you don't need to add additional markup. It's generally used in float
  layouts where elements are floated to be stacked horizontally. The clearfix is
  a way to combat the zero-height container problem for floated elements

  applies clearfix in an :after pseudo element. clearfix affects the NEXT floated
  element and not the element you have applied the clearfix to.

  This is a mixin because extending code across different media queries is
  complicated.
*/

@mixin clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}


@mixin menu-style($background, $border) {
  border: 1px solid darken($fieldset, $background);
  border-radius: 5px;
  background-color: darken($fieldset, $border);

  &:hover,
  &:active {
    background-color: $secondary-background;
    color: white;
  }
}
