/*-------------------------------------------------------------*\

  $LINK

  Examples of basic link BCS_limited in footer and (possibly to)
  be removed - link in Invoicing#show - tab menu

\*--------------------------------------------------------------*/

@import 'settings.colors';

a {
  color: $basic-link-color;
  text-decoration: underline;

  &:hover,
  &:active {
    background-color: $basic-link-active-background;
    color: $basic-link-active-color;
  }
}
