/*-----------------------------------------------------------*\

   $BASE

   Base rules are the defaults. They are almost exclusively
   single element selectors. Essentially, a base style says
   that whatever this element is on the page, it should look
   like this.

   I include normalize and then add my own base rules here.

   SNOOK is against reset sheets - he prefers crafted resets.
   However, I don't want to be left managing updates to the
   reset sheet. By keeping a copy I can diff with any new
   version.

\*-----------------------------------------------------------*/

@import "colors";

/*------------------------------------------------------------------*\

   $BASE

\*------------------------------------------------------------------*/

*,
*:before,
*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $primary-text-color;
}


/*------------------------------------------------------------------*\

   $TYPOGRAPHY

\*------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6{
  margin-bottom: 21px;
  font-weight: normal;
}

h1{
  margin-top: 0;
  font-size: 3.375em;
}

h2{
  font-size: 2.25em;
}

h3{
  font-size: 1.5em;
}

h4{
  font-size: 1em;
}

h5{
  font-size: 0.667em;
}

h6{
  font-size: 0.444em;
}




/*---------------------------------------------------*\

  $LINKS

\*---------------------------------------------------*/


a{
  text-decoration: underline;

  &:link,
  &:visited{
    color: $primary-link-color;
  }

  &:hover,
  &:active{
    color: $secondary-link-color;
    background: $secondary-background-color;
  }
}
