/*---------------------------------------------------*\

  $LINK

\*---------------------------------------------------*/

@import 'colors';

a {
  text-decoration: underline;

  &:link,
  &:visited {
    color: $primary-link;
  }

  &:hover,
  &:active {
    background-color: $secondary-background;
    color: white;
  }
}
