/*-----------------------------------------------------------*\

   $BASE

   Base rules are the defaults. They are almost exclusively
   single element selectors. Essentially, a base style says
   that whatever this element is on the page, it should look
   like this.

   I include normalize and then add my own base rules here.

   SNOOK is against reset sheets - he prefers crafted resets.
   However, I don't want to be left managing updates to the
   reset sheet. By keeping a copy I can diff with any new
   version.

\*-----------------------------------------------------------*/

@import "colors";
@import "compass/css3";

/*------------------------------------------------------------------*\

   $BASE

\*------------------------------------------------------------------*/

*,
*:before,
*:after{
  @include box-sizing(border-box);
}

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $primary-text-color;
  background: $primary-background-color;
}


/*------------------------------------------------------------------*\

   $TYPOGRAPHY
   Sizes from type-scale.com - generates typographic scales
   - Using perfect fourth (multiplication of 1.333)
   - Starting with an h4 of 1em, h3 or 1.333em and h2 of 1.77em etc.
   - Demoed in SMACSS on Tuts

\*------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6{
  font-weight: normal;
}

h1{
  margin-top: 0.2em;
  font-size: 2.369em;
}

h2{
  margin-top: 0.2em;
  font-size: 1.77em;
}

h3{
  margin-top: 0.3em;
  font-size: 1.33em;
}

h4{
  font-size: 1em;
}

h5{
  font-size: 0.75em;
}

h6{
  font-size: 0.563em;
}




/*---------------------------------------------------*\

  $LINKS

\*---------------------------------------------------*/


a{
  text-decoration: underline;

  &:link,
  &:visited{
    color: $primary-link-color;
  }

  &:hover,
  &:active{
    color: $secondary-link-color;
    background: $secondary-background-color;
  }
}




/*---------------------------------------------------*\

  $LIST

\*---------------------------------------------------*/

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}


/*--------------------------------------------------*\

  $DIVIDER

\*--------------------------------------------------*/


hr {
  background: $background-filler;
  clear: both;
  float: none;
  width: 100%;
  height: 1px;
  margin: 1em 0 1.4em;
  border: none;
}


/*---------------------------------------------------*\

  $FORMS

\*---------------------------------------------------*/


input,
textarea{
  border: 1px solid $subdued-color;
  border-radius: 5px;
  width: 90%;
}

input[type=submit]{
  padding: 2%;
}

input[readonly='readonly']{
  background-color: Gainsboro;
  color:  $primary-text-color;
}

