@import "colors";

h3{
  letter-spacing: 1px;
}

img{
  border: 0;
  border-width: 0;
}

a{
  text-decoration: underline;
}

a:link,
a:visited{
  color: $primary-link-color;
}

a:hover,
a:active{
  text-decoration: none;
  color: $secondary-link-color;
  background: $secondary-background-color;
}

@media screen{

  table{
    font-size: 1em;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }

  table th{
    font-weight: normal;
    color: $secondary-text-color;
    padding: 0.8em 0.4em 0.2em 0.4em;
    border-bottom: 1px solid $subdued-color;
  }

  table td{
    color: $primary-text-color;
    border-bottom: 1px solid $fieldset-color;
    padding: 0.6em 0.4em;
  }

  table tbody tr:hover td{
    color: #009;
  }

  table .alnright{
    text-align: right;
  }

  table .atcenter{
    text-align: center;
  }
}
