/* FORMS */

@import "colors";

.mainTitle{
 /*clearly need something*/
}

@mixin top{
  margin-top: 1.5%;
  border-top: 1px solid $background-filler;
}

.top{
  @include top;
}

fieldset{
  border: 0;
  background-color: $fieldset-color;
  &.top {
    @include top;
  }

  &.shell{
    margin: 0 0 2% 0;
    padding: 3% 4%;
    box-shadow: #aaa 0 0 8px;
  }

  &.minimal{
    margin-bottom: 0;
    padding: 0;
    border: none;
  }

  .field{
    margin-bottom: 1.5%;
  }

  .field.require label{
      font-weight: bold;
      &:after {
        content: ' *';
      }
  }

  .field label {
     display: block;
     float: left;
     overflow: hidden;
     width: 20%;
     text-overflow: ellipsis;
     white-space: nowrap;
     line-height: 27px;
   }

  .field.text {
    input {
       display: inline-block;
       padding: 3px;
       width: 65%;
     }

     &.half input {
        width: 32.5%;
      }
     &.quarter input {
        width: 16.25%;
      }
  }

  .field.submit{
    display: inline-block;
    float: right;
    width: 68%;
    white-space: nowrap;
  }

  .alternative-choice{
    white-space: nowrap;
  }

  input,
  textarea{
    padding:       4% 1% 4% 1%;
    width: 90%;
    border: 1px solid $subdued-color;
    border-radius: 4px;
    box-shadow:    0px;
    font-size:     1em;
  }

  div.field_with_errors{
    label {
      color: $errors-text-color;
    }
    input, textarea{
      background: $errors-background-color;
    }
  }
}

@mixin button-base {
  -webkit-border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  background-color: rgb(255, 255, 255);
  background-image:linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204));
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(238, 238, 238)), to(rgb(204, 204, 204)));
  background-image:-moz-linear-gradient(-90deg, rgb(238, 238, 238), rgb(204, 204, 204));
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  font-size: 1.5em;
}

@mixin small-button-base {
  padding:2px;
  -webkit-border-radius:5px 5px 5px 5px;
  -moz-border-radius:5px 5px 5px 5px;
  border-radius:5px 5px 5px 5px;
  background-color: $secondary-background-color;
  background-color: white;
  -webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
  box-shadow:0px 0px 0px rgb(0, 0, 0);
  color: $primary-link-color;
  text-decoration: none;
  font-size: 8px;
  font-size: 1.5em;
}

input[type="submit"] {
  @include button-base;
  width: 40%;
  &.x-large {
    width: 80%;
  }
  &.medium {
    width: 60%;
  }
  &.under-input {
    width: 55%;
  }
}

.small-button{
  @include button-base;
  @include small-button-base;
}

.revealable, .hidden{
  display: none;
}

.simple{
   @include button-base;
   float:right;
   padding:2px 20px;
   border: 1px solid $subdued-color;
 }

 .search{
   width: 20%;
 }

/*Turn Grid into Table*/


/*http://stackoverflow.com/questions/4785871/css-vertical-align*/
@mixin vertical-align-hack {
  height: 5em;
  line-height: 5em;
}

.grid{

  .grid-header{
    border-bottom: 1px solid $background-filler;
    color: $secondary-text-color;
  }

  .cell{
    @include vertical-align-hack;
    color: $primary-text-color;
  }

  .nested-element{
    margin-left: 1em;
  }

  .pick-out{
    background-color: lighten($secondary-background-color, 47%);
  }

  input[readonly='readonly']{
    background-color: Gainsboro;
    color:  $primary-text-color;
  }
}

.number{
  text-align: right;
}
