/* FORMS */

@import "colors";

@mixin top{
  margin-top: 1.5%;
  border-top: 1px solid $background-filler;
}

.top{
  @include top;
}

fieldset{
  border: 0;
  background-color: $fieldset-color;
  &.top {
    @include top;
  }

  &.minimal{
    padding: 0;
  }

  .field{
    margin-bottom: 1.5%;
  }

  .field label {
     display: block;
     float: left;
     width: 20%;
     line-height: 27px;
   }

  .field.text {
    input {
       display: inline-block;
       padding: 3px;
       width: 65%;
     }

     &.half input {
       width: 32.5%;
     }
  }
}


.revealable, .hidden{
  display: none;
}

 .search{
   width: 20%;
 }

/*Turn Grid into Table*/


/*http://stackoverflow.com/questions/4785871/css-vertical-align*/
@mixin vertical-align-hack {
  height: 5em;
  line-height: 5em;
}

.grid{

  .grid-header{
    border-bottom: 1px solid $background-filler;
    color: $secondary-text-color;
  }

  .cell{
    @include vertical-align-hack;
    color: $primary-text-color;
  }

  .nested-element{
    margin-left: 1em;
  }

  .pick-out{
    background-color: lighten($secondary-background-color, 47%);
  }

  input[readonly='readonly']{
    background-color: Gainsboro;
    color:  $primary-text-color;
  }
}

.vertical-spacer{
  margin: 0 0 1% 0;
}

.number{
  text-align: right;
}
