@import "colors";

/*------------------------------------------------*\

  Invoice Css
  Used mainly in Invoice for both screen and print
  and where print requirements hidden from screen and
  screen requirements hidden from print

\*------------------------------------------------*/

@media all{

  .page-break {
    display: none;
  }
}

/*------------------------------------------------*\

  INVOICES SCREEN VALUES

\*------------------------------------------------*/

@media screen{

  .print-only,
  .vi{
    display: none;
  }

  .side-wrap{
    width: 100pt;
  }

  .wrap-print{
    width: 500pt;
  }

/*------------------------------------------------*\

 INVOICES SCREEN MARGINS

\*------------------------------------------------*/

 /* used on Page 2*/
 .wide-margin{
    margin-left: 6em;
  }

  .narrow-margin{
    margin-left: 3em;
  }

/*------------------------------------------------*\

  INVOICES SCREEN FONTS

\*------------------------------------------------*/

  /* used for sissors line, page 1, above return slip */
  .sissors{
    font-size: 1.5em;
  }

  /* F&L Adams heading */
  .h1print{
    font-weight: bold;
    font-size: 1em;
  }

  .large-font{
   font-size: 1em;
  }

  /* medium-bold-headings. Used for adam's address
   in heading, Invoice line and Property addresses. */

  .medium-bold-headings{
    font-weight: bold;
    font-size: .8em;
    line-height: 130%;
  }

/* small-font
 Notice for Leaseholders & Remittance Advice
*/
  .small-font{
    font-weight: normal;
    font-size: .8em;
  }

  .small-font-bold{
    font-weight: bold;
    font-size: 1em;
  }

  .smallest-font{
    font-size: .7em;
  }
}

/*------------------------------------------------*\

  INVOICES PRINT

\*------------------------------------------------*/

@media print{

  .page-break{
   display: block; page-break-after: always;
  }

/* Buttons and main heading need to be invisible in printouts. Fonts are in pt. */

  .button,
  footer,
  header,
  nav,
  h3,
  .flash,
  .no-print,
  .overlay,
  .search,
  .plain-button{
    display: none;
  }

/*------------------------------------------------*\

  Printing for invoice
  SETTING WIDTH A4 is 210.0mm

\*------------------------------------------------*/

  body{
    margin-top: 0cm;
    margin-right: 0.20cm;
    margin-left: 0.20cm;
    width: 22cm;
    background-color: $neutral-print;
  }

/*This sets printed page to A4 width*/

  .printbody{
    margin-top: 0cm;
    margin-right: 0.20cm;
    margin-left: 0.20cm;
    width: 22cm;
    background-color: $neutral-print;
  }

/*------------------------------------------------*\

  INVOICES PRINT MARGINS

\*------------------------------------------------*/

  /* wide-margin on 2nd inv page */
  .wide-margin{
    margin-left: 2cm;
  }

 .narrow-margin{
    margin-left: .2cm;
  }

/*------------------------------------------------*\

  INVOICES PRINT FONTS

\*------------------------------------------------*/

  /* used for sissors line, page 1, above return slip */
  .sissors{
    font-size: 20pt;
  }

  /* F&L Adams heading */
  .h1print{
    font-weight: bold;
    font-size: 18pt;
  }

 .large-font{
    font-size: 14pt;
  }

  /* medium-bold-headings
     Used for adam's address in heading,
     Invoice line and Property addresses. */

  .medium-bold-headings{
    font-weight: bold;
    font-size: 12pt;
    line-height: 130%;
  }

  .small-font{
    font-weight: normal;
    font-size: 11pt;
  }

  .small-font-bold{
    font-weight: bold;
    font-size: 11pt;
  }

  /* smallest-font used for notes in brackets in lefthand margin */
  .smallest-font{
    font-size: 10pt;
  }
}
