@import "colors";

/*Used mainly in Invoice for both screen and print
and where print requirements hidden from screen and
screen requirements hidden from print*/

@media all{

  .page-break {
    display: none;
  }

  .template-padding{
    padding-left: 5%;
  }

  .inv-advice{
    font-weight: normal;
    font-size: 12pt;
  }

  .inv-advice-bold{
    font-weight: bold;
    font-size: 12pt;
  }

  @mixin inv-heading{
    text-align:center;
    font-weight: bold;
  }

  .h1print{
    @include inv-heading;
    font-size: 20pt;
  }

 .res-longlease{
    @include inv-heading;
    font-size: 16pt;
    padding-top :10px;
  }
}

/*These are screen values*/

@media screen{

  .inv-add,
  .print-only,
  .vi{
    display: none;
  }

 .widemargin{
    margin-left: 60px;
    font-size: 18px;
  }

/*  .printbody{
    margin-left: 20px;
    width: 500px;
  }

*/  .bold-12-font{
    font-weight: bold;
    font-size: 12px;
  }

 .insert-margin{
    margin-left: 10px;
  }

 .insert-font{
    font-size: 10px;
  }

 .font-14{
    font-size: 14pt;
  }
}

/*These are print values. Widths in cms. */

@media print{

  /*Use the last item on the page to put this div on */

  .nexter{
     page-break-after: always;
  }


 .page-break{
   display: block; page-break-after: always;
  }

/* Buttons and main heading need to be invisible in printouts. Fonts are in pt. */

  .button,
  footer,
  header,
  nav,
  h2,
  h3,
  .flash,
  .no-print,
  .overlay,
  .search,
  .plain-button{
    display: none;
  }

/* Printing for invoice
  SETTING WIDTH A4 is 210.0mm ?
 */

  body{
    margin-top: 0cm;
    margin-right: 0.20cm;
    margin-left: 0.20cm;
    width: 22cm;
    background-color: $neutral-print;
  }

/*This sets printed page to A4 width*/

  .printbody{
    margin-top: 0cm;
    margin-right: 0.20cm;
    margin-left: 0.20cm;
    width: 22cm;
    background-color: $neutral-print;
  }

  /* Invoice Heading fonts */

  .h1print{
    font-weight: bold;
    font-size: 20px;
   }

/* Invoice Fonts - not centralized */

  .inv-add{
    margin-left: 1.2cm;
    font-size: 12pt;
  }

  .inv-bold{
    font-weight: bold;
    font-size: 14px;
  }

  /* used for sissors line, page 1, above return slip */

  .sissors{
    font-size: 30px;
  }

  /* invoice page 2*/

  .bold-12-font{
    font-weight: bold;
    font-size: 12pt;
  }

  /* insert used for notes in brackets in lefthand margin , small font */

 .insert-margin{
    margin-left: .2cm;
  }

 .insert-font{
    font-size: 10pt;
  }

  /* notice used for notices smallish font 'NOTICE FOR LEASEHOLDERS' */

 .notice-font{
    font-size: 12pt;
  }

 .font-14{
    font-size: 14pt;
  }

  /* widemargin on 2nd inv page */

  .widemargin{
    margin-left: 2cm;
  }
}
