@import "colors";

/*Used mainly in Invoice for both screen and print
and where print requirements hidden from screen and
screen requirements hidden from print*/

@media all{

  .inv-advice{
    font-size: 12px;
    font-weight: normal;
  }

  .inv-advice-bold{
    font-size: 12px;
    font-weight: bold;
  }
}

@media screen{

  .h1print,
  .hgh,
  .inv-add,
  .inv-bold,
  .print-only,
  .res-longleas
  .sissors,
  .vi{
    display: none;
  }
}

@media print{

/* Buttons and main heading need to be invisible in printouts. Fonts are in pt. */

  .button,
  footer,
  header,
  nav,
  h2,
  h3,
  .flash,
  .link-button,
  .no-print,
  .overlay,
  .search,
  .simple-button{
    display: none;
  }

/* Printing for invoice
  SETTING WIDTH A4 is 210.0mm ?
 */

  body{
    background-color: $primary-background-print;
    width: 22cm;
    margin-top: 0cm;
    margin-left: 0.20cm;
    margin-right: 0.20cm;
   }

  .margwide{
    margin-left: 0.80cm;
  }

  /* This calls new page for printer */

  div.page{
    page-break-after: always;
    page-break-inside: avoid;
  }


  /* This calls new page for printer */

  h2{
    break-before: always;
  }


  /* Invoice Heading fonts - centralized */

  @mixin inv-heading{
    text-align:center;
    font-weight: bold;
  }

  .h1print{
    @include inv-heading;
    font-size: 20px;
    }

   /* Residential .. longlease used for heading 'Notice to longleaseholders ....' */

  .res-longlease{
    @include inv-heading;
    font-size: 16pt;
   }


/* Invoice Fonts - not centralized */

  .inv-add{
    margin-left: 1.2cm;
    font-size: 12pt;
  }

  .inv-bold{
    font-size: 14px;
    font-weight: bold;
  }

 .blankright{
    margin-right: 40px;
  }


  /* used for sissors line above return slip */

  .sissors{
    font-size: 30px;
  }

 .medfont{
    font-size: 12pt;
  }

  /* invoice page 2*/

  .p2head{
    @include inv-heading;
    font-size: 12pt;
   }

/* Commonhold and Leasehold ..Act */

  .actref{
    font-size: 14pt;
    text-align:center;
  }

/* small margin comments */

 .insert{
    font-size: 10pt;
    margin-left: .2cm
  }

  /* insert used for notes in brackets in lefthand margin , small font */

  .insert{
    font-size: 10pt;
    margin-left: 5px
  }

  /* notice used for notices smallish font 'NOTICE FOR LEASEHOLDERS' */

 .notice{
    font-size: 10pt;
    margin-left: 80px
  }

  /* widemargin on 2nd inv page */

  .widemargin{
    font-size: 14pt;
    margin-left: 2cm;
  }



}
