@import "colors";

/*------------------------------------------------*\

  Invoice Css
  Used mainly in Invoice for both screen and print
  and where print requirements hidden from screen and
  screen requirements hidden from print
\*------------------------------------------------*/

@media all{

  .page-break {
    display: none;
  }

  .template-padding{
    padding-left: 5%;
  }

}

/*------------------------------------------------*\

  Invoice Screen Values

\*------------------------------------------------*/

@media screen{

  .print-only,
  .vi{
    display: none;
  }

  .side-wrap{
    width: 100pt;
  }

  .wrap-print{
    width: 500pt;
  }

/*------------------------------------------------*\

  Invoice Page 1 Screen

\*------------------------------------------------*/

  /* F&L Adams heading */
  .h1print{
    font-weight: bold;
    font-size: 1em;
  }

  /* inv-bold-headings
     Used for adam's address in heading,
     Invoice line and Property addresses. */

  .inv-bold-headings{
    font-weight: bold;
    font-size: .8em;
    line-height: 130%;
  }

/* inv-advice
 Notice for Leaseholders & Remittance Advice
*/
  .inv-advice{
    font-weight: normal;
    font-size: .7em;
  }

  .inv-advice-bold{
    font-weight: bold;
    font-size: 1em;
  }

  /* used for sissors line, page 1, above return slip */
  .sissors{
    font-size: 2em;
  }

/*------------------------------------------------*\

  $PAGE

\*------------------------------------------------*/

 /* used on Page 2*/
 .widemargin{
    margin-left: 6em;
  }

  .insert-margin{
    margin-left: 10px;
  }

 .insert-font{
    font-size: .7em;
  }

 .instruct-font{
    font-size: 1em;
  }
}

/*------------------------------------------------*\

  Invoice Page 2 Print


\*------------------------------------------------*/

@media print{

  .page-break{
   display: block; page-break-after: always;
  }

/* Buttons and main heading need to be invisible in printouts. Fonts are in pt. */

  .button,
  footer,
  header,
  nav,
  h3,
  .flash,
  .no-print,
  .overlay,
  .search,
  .plain-button{
    display: none;
  }

/*------------------------------------------------*\

  Printing for invoice
  SETTING WIDTH A4 is 210.0mm

\*------------------------------------------------*/

  body{
    margin-top: 0cm;
    margin-right: 0.20cm;
    margin-left: 0.20cm;
    width: 22cm;
    background-color: $neutral-print;
  }

/*This sets printed page to A4 width*/

  .printbody{
    margin-top: 0cm;
    margin-right: 0.20cm;
    margin-left: 0.20cm;
    width: 22cm;
    background-color: $neutral-print;
  }

/*------------------------------------------------*\

  Invoice Page 1 Print

\*------------------------------------------------*/

  /* F&L Adams heading */
  .h1print{
    font-weight: bold;
    font-size: 18pt;
  }

  /* inv-bold-headings
     Used for adam's address in heading,
     Invoice line and Property addresses. */

  .inv-bold-headings{
    font-weight: bold;
    font-size: 12pt;
    line-height: 130%;
  }

/* in-advice
 Notice for Leaseholders & Remittance Advice
*/
  .inv-advice{
    font-weight: normal;
    font-size: 11pt;
  }

  .inv-advice-bold{
    font-weight: bold;
    font-size: 11pt;
  }

  /* used for sissors line, page 1, above return slip */
  .sissors{
    font-size: 20pt;
  }

/*------------------------------------------------*\

  Invoice Page 2 Print

\*------------------------------------------------*/

  /* widemargin on 2nd inv page */
  .widemargin{
    margin-left: 2cm;
  }

  /* insert used for notes in brackets in lefthand margin , small font */

 .insert-margin{
    margin-left: .2cm;
  }

 .insert-font{
    font-size: 10pt;
  }

 .instruct-font{
    font-size: 14pt;
  }

}
