@import "colors";

@media screen{


  /*------------------------------------------------*\

    $PAGE

  \*------------------------------------------------*/

  header{
    @include inverted-color;
    width: 100%;
    height: 70px;
  }

  .page-wrapper{
    margin: 0 auto;
    width: 97.5%;
  }

  footer{
    clear: both;
    background-color: $primary-background;
    color: $secondary-text;
  }



  /*--------------------------------------*\

      $STRUCTURAL ELEMENTS

  \*--------------------------------------*/


  @mixin leftfloat{
    float: left;
    width: 30%;
  }

  .float-right{
    float: right;
  }

  .blankright{
    margin-right: 20px;
  }

}
