@import "colors";

.debug {
  border: 1px solid black;
}

@media screen{

  body{
    background: $primary-background-color;
    color: $primary-text-color;
    font-family: "Helvetica Neue", Helvetica, Arial;
  }
 
  .setleftmargin{
     margin-left:30px;
  }

  @mixin header-object {
    color: $print-background-white;
    background-color: $secondary-background-color;
  }

   .small_line_height{
    lineheight: 10%;
  }

  header{
    width: 100%;
    height: 70px;
    @include header-object;
    nav {
      padding: 1%;
      a:link, a:visited {
      @include header-object;
      }
    }

    h1{
      width: 50%;
      float: left;
    }

    a.header{
      @include header-object;
      padding: 0px 10%;
      text-decoration: none;
      margin-left: 0;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }

  .errorhead{
      height: 90px;
      padding-top:3px;
      padding-left:10px;
      border:1px solid #666;
      border-radius: 12px;
      background-color: $errors-head-background-color;
   }

  footer#page-footer {
    color: $secondary-text-color;
    background-color: $primary-background-color;
    padding: 0.5em 0.5em;
    clear: both;
    
    p{
      text-align: center;
    }

    a{
      color: $primary-link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  nav{
    float: right;
  }

  .shell{
    border-radius: 12px;
    border: 1px solid $fieldset-color;
    padding: 5%;
    margin: 50px;
  }

  .showbox{
   background-color: #ddd;
   border:1px solid #666;
   border-radius: 12px;
   padding: 0 35px;
   margin-top: 10px;
   margin-left: 30px;
   margin-bottom: 3px;
  }

  @mixin leftfloat{
    width:30%;
    float:left;
  }

  .floatleft{
    @include leftfloat;
  }

  .boldfloat{
    @include leftfloat;
    font-weight: bold;
  }

  .floatright{
    width:20%;
    float:right;
  }

  .justbold{
    font-weight: bold;
  }

  .blankright{
     margin-right: 20px;
  }

}