@import "colors";

.debug {
  border: 1px solid black;
}

/*Used in Invoice for both screen and print*/

.h1print{
  text-align:center;
  font-size: 20px;
  font-weight: bold;
}

.h2print{
  text-align:center;
  font-size: 16px;
  font-weight: bold;
}

.inv_add{
  margin-left: 1.2cm;
}

.sissors{
  font-size: 30px;
}

.inv_bold{
  font-size: 16px;
  font-weight: bold;
}

.inv_advice{
  font-size: 14px;
  font-weight: normal;
}
.inv_advice_bold{
  font-size: 14px;
  font-weight: bold;
}

@media screen {

  body {
    background: $primary-background-color;
    color: $primary-text-color;
    /*background-image: image-url("background.jpg");*/
    font-family: "Helvetica Neue", Helvetica, Arial;
  }

  @mixin header-object {
    color: $print-background-white;
    background-color: $secondary-background-color;
  }


.small_line_height{
  lineheight: 10%;
}

  header {
    width: 100%;
    height: 70px;
    @include header-object;
    nav {
      padding: 1%;
      a:link, a:visited {
      @include header-object;
      }
    }

    h1 {
      width: 50%;
      float: left;
    }

    a.header {
      @include header-object;
      padding: 0px 10%;
      text-decoration: none;
      margin-left: 0;
    }

    a:hover,
    a:active {
      text-decoration: underline;
    }
  }

  .errorhead{
      height: 90px;
      padding-top:3px;
      padding-left:10px;
      border:1px solid #666;
      border-radius: 12px;
      background-color: $errors-head-background-color;
   }

  footer#page-footer {
    color: $secondary-text-color;
    background-color: $primary-background-color;
    padding: 0.5em 0.5em;

    p {
      text-align: center;
    }

    a {
      color: $primary-link-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  nav {
    float: right;
  }

  .shell {
    border-radius: 12px;
    border: 1px solid $fieldset-color;
    padding: 5%;
  }

  .showbox{
   background-color: #ddd;
   border:1px solid #666;
   border-radius: 12px;
   padding: 0 35px;
   margin-top: 10px;
   margin-bottom: 3px;
  }

  @mixin leftfloat{
    width:30%;
    float:left;
  }

  .floatleft{
    @include leftfloat;
  }

  .boldfloat{
    @include leftfloat;
    font-weight: bold;
  }

  .floatright{
    width:30%;
    float:right;
  }
}

@media print {

  body {
    background: $print-background-white;
    color: $primary-text-color;
    /*background-image: image-url("background.jpg");*/
    font-family: "Helvetica Neue", Helvetica, Arial;
    width: 100%;
    margin-top: 0cm;
    margin-left: 0.80cm;
    margin-right: 0.20cm;
   }

  .col-1-3 {
  font-weight :bold;
  }

  .col-3-4 {
  width: 100%;
  }

  .col-1-4 {
  width: 0%;
  }

  .shell{
   display: none;
   width: 5px;
  }

  .floatleft{
   }

  .boldfloat{
     font-weight: bold;
  }

  .showbox{
     width: 90%;
  }

   button, header, footer, .noshowprint, .search, .floatright{
   display: none;
  }

table
{
  font-size: .8em;
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  padding: 0;
  margin: 0;
  lineheight: 90%;
  color: red;
 }

  table th
  {
    #color: green;
    padding: 0;
  }

  table td
{
  color: blue;
  padding: 0;
}

}
