@import "colors";

.debug {
  border: 1px solid black;
}

@media screen{


  /*------------------------------------------------*\

    $PAGE

  \*------------------------------------------------*/

  header{
    width: 100%;
    height: 70px;
    @include inverted-color;
  }


  footer#page-footer{
    color: $secondary-text-color;
    background-color: $primary-background-color;
    padding: 0.5em 0.5em;
    clear: both;

    p{
      text-align: center;
    }
  }


  /*--------------------------------------*\

      $STRUCTURAL ELEMENTS

  \*--------------------------------------*/


  @mixin leftfloat{
    width:30%;
    float:left;
  }

  .floatleft{
    @include leftfloat;
  }

  .boldfloat{
    @include leftfloat;
    font-weight: bold;
  }

  .floatright{
    width:20%;
    float:right;
  }

  .float-right{
    float: right;
  }

  .blankright{
     margin-right: 20px;
  }

}