
@import "colors";

// show selector: article#property
// index selector ul#properties
// forms handled in _form

/* FLASHES */

.flash{
  color: $primary-text-color;
  border-radius: 4px;
  padding: 2% 0% 2% 3%;
  margin: 0;
  text-align: center;
  box-shadow: #ffc 0 0 4px;

  &.notice{
    background-color: $flash-notice-color;
  }

  &.alert{
    background-color: $flash-alert-color;
  }
}

.important-text{
  font-weight: bold;
}