
@import "colors";

// show selector: article#property
// index selector ul#properties
// forms handled in _form

/* FLASHES */

.flash {
  color: $primary-text-color;
  border-radius: 4px;
  padding: 2% 0% 2% 3%;
  margin: 0;
  text-align: center;
  box-shadow: #ffc 0 0 4px;

  &.notice {
    background-color: $flash-notice-color;
  }

  &.alert {
    background-color: $flash-alert-color;
  }
}

/* ERRORS */

section#errors {
  margin: 1em 0;
  padding: 1em;
  background: $errors-background-color;
  border:2px solid $errors-edge-color;
  border-radius: 12px;
  box-shadow: #aaa 0 0 8px;
  h2 {
    color: $errors-text-color;
    font-size: 1.25em;
  }

  h3 {
    font-size: 1em;
    margin: .5em 0;
    font-weight: bold;
  }
}

.important-text {
  font-weight: bold;
}