@import 'colors';

/*------------------------------------------------*\

  Media CSS
  Used mainly in Invoice for both screen and print
  and where print requirements hidden from screen and
  screen requirements hidden from print

\*------------------------------------------------*/

@media all {

  .page-break {
    display: none;
  }

  .bold {
    font-weight: bold;
  }
}

/*------------------------------------------------*\

  INVOICES SCREEN VALUES

\*------------------------------------------------*/

@media screen {

  .print-only,
  .vi {
    display: none;
  }

  .side-wrap {
    width: 100pt;
  }

  .wrap-print {
    width: 500pt;
  }

/*------------------------------------------------*\

 INVOICES SCREEN MARGINS

\*------------------------------------------------*/

  // used on Page 2
  .wide-margin {
    margin-left: 6em;
  }

  .narrow-margin {
    margin-left: 3em;
  }

/*------------------------------------------------*\

  INVOICES SCREEN FONTS

\*------------------------------------------------*/

  // used for scissors line, page 1, above return slip
  .scissors {
    font-size: 1.5em;
  }

  // Company Banner heading
  .h1-print {
    font-size: 1em;
    font-weight: bold;
  }

  .large-font {
    font-size: 1em;
  }

  // medium-bold-headings. Used for the company's address
  // in heading, Invoice line and Property addresses.

  .medium-bold-headings {
    font-size: .8em;
    font-weight: bold;
    line-height: 130%;
  }

  // small-font (Notice for Leaseholders & Remittance Advice)
  .small-font {
    font-size: .8em;
    font-weight: normal;
  }

  .small-font-bold {
    font-size: 1em;
    font-weight: bold;
  }

  .smallest-font {
    font-size: .7em;
  }
}

/*------------------------------------------------*\

  INVOICES PRINT

\*------------------------------------------------*/

@media print {

  .page-break {
    display: block;
    page-break-after: always;
  }

  // Buttons and main heading need to be invisible in printouts. Fonts are in pt.

  .button,
  nav,
  .flash,
  .no-print,
  .overlay {
    display: none;
  }

/*------------------------------------------------*\

  Printing for invoice
  SETTING WIDTH A4 is 210.0mm

\*------------------------------------------------*/

  @mixin bodyprint {
    background-color: $neutral-print;
    color: $primary-text;
    margin-left: .20cm;
    margin-right: .20cm;
    margin-top: 0;
    width: 22cm;
  }

  body {
    @include bodyprint;
  }

  // This sets printed page to A4 width

  .print-body {
    @include bodyprint;
  }

/*------------------------------------------------*\

  INVOICES PRINT MARGINS

\*------------------------------------------------*/

  // wide-margin on 2nd inv page

  .wide-margin {
    margin-left: 2cm;
  }

  .narrow-margin {
    margin-left: .2cm;
  }

/*------------------------------------------------*\

  INVOICES PRINT FONTS

\*------------------------------------------------*/

  // used for scissors line, page 1, above return slip
  .scissors {
    font-size: 20pt;
  }

  // Company Banner heading
  .h1-print {
    font-size: 18pt;
    font-weight: bold;
  }

  .large-font {
    font-size: 14pt;
  }

  // medium-bold-headings
  // Used for Company's address in heading,
  // Invoice line and Property addresses.

  .medium-bold-headings {
    font-size: 12pt;
    font-weight: bold;
    line-height: 130%;
  }

  .small-font {
    font-size: 11pt;
    font-weight: normal;
  }

  .small-font-bold {
    font-size: 11pt;
    font-weight: bold;
  }

  // smallest-font used for notes in brackets in lefthand margin
  .smallest-font {
    font-size: 10pt;
  }
}
