/*------------------------------------------------*\

  Media CSS
  Used mainly in Invoice for both screen and print
  and where print requirements hidden from screen and
  screen requirements hidden from print

\*------------------------------------------------*/

@media all {

  .page-break {
    display: none;
  }

  .bold {
    font-weight: bold;
  }
}

/*------------------------------------------------*\

  INVOICES SCREEN VALUES

\*------------------------------------------------*/

@media screen {

  .print-only {
    display: none;
  }

  .side-wrap {
    width: 100pt;
  }

  .wrap-print {
    width: 500pt;
  }

}

/*------------------------------------------------*\

  INVOICES PRINT

\*------------------------------------------------*/

@media print {

  .page-break {
    display: block;
    page-break-after: always;
  }

  // Buttons and main heading need to be invisible in printouts. Fonts are in pt.

  .button,
  .flash,
  .no-print,
  .overlay {
    display: none;
  }
}
