/*-----------------------------------------------*\

   $NAVIGATION

\*------------------------------------------------*/

@import 'settings.colors';
@import 'tools.mixins';

nav {
  float: right;
}

.nav-shell {
  margin-top: 15%;
  width: 100%;
}

li a {
  background-color: $scheme-fieldset-background;
  border-bottom: 1px solid $neutral;
  display: block;
  padding: 4%;
}
