
/*--------------------------------------------------*\

  $AUTO-COMPLETE

\*--------------------------------------------------*/

@import 'settings.globals';
@import 'settings.colors';

.ui-menu .ui-menu-item a {
  background-color: $neutral;
  border: 1px solid darken($neutral, $border-color-darken);
  border-radius: $border-radius;
  color: $color-text-primary;
}
