@import "colors";


/*----------------------------------------------------*\

   $LINK

\*----------------------------------------------------*/


.hover-link{
  text-decoration: none;
  white-space: nowrap;
  &:active,
  &:hover{
    text-decoration: underline;
  }
}


a.inverted-link{
  @include inverted-color;
}


a.warn{
  color: $warn;

  &:hover,
  &:active{
    background-color: $warn;
    color: white;
  }
}


/*--------------------------------------------------*\

  $GRID

\*--------------------------------------------------*/


/*http://stackoverflow.com/questions/4785871/css-vertical-align*/
@mixin vertical-align-hack {
  height: 5em;
  line-height: 5em;
}

.grid-row{
  clear: both;
}

.cell{
  @include vertical-align-hack;
  color: $primary-text;
}

/* Wanted to emphasise the payment column. However it
   looks odd if elements are at the point the colour
   changes. So I've padded it. Only used on payment */

.pick-out{
  padding-right: 2.5%;
  padding-left: 2.5%;
  background-color: darken($fieldset, 5%);
}

.vertical-spacer{
  margin: 0 0 1% 0;
}

/* To change heading color for printing just change
   $secondary-print-text in _colors.scss.
   faded holds the switch. grid-header uses faded
   extended. */

.grid-header{
  @extend .faded;
  border-bottom: 1px solid $muted-border;
}

/*--------------------------------------------------*\

  $TYPOGRAPHY

\*--------------------------------------------------*/

/* faded holds the switch for printing.
   To change heading color for printing just change
   $secondary-print-text in _colors.scss.  */

.faded{
  color: $secondary-text;
  @media print {
        color: $secondary-print-text;
  }
}

.r-align{
  text-align: right;
}

.c-align{
  text-align: center;
}

.no-warp{
  white-space: nowrap;
}


/*-----------------------------------------------*\

   $NAVIGATION

\*------------------------------------------------*/


nav{
  float: right;
}


li a{
  display: block;
  padding: 4%;
  border-bottom: 1px solid $neutral;
  background-color: $fieldset;
}



/*-----------------------------------------------*\

   $CONTENT

\*-----------------------------------------------*/

@media screen{

  .shell{
    margin: 0 0 2% 0;
    padding: 1%;
    border: 1px solid lighten($fieldset, 20%);
    border-radius: 12px;
    background-color: $fieldset;
    box-shadow: $shadow 0 0 8px;
  }
}

@media print{

  .shell{
    width: 620px;
  }
}


/*--------------------------------------------------*\

  $FORMS

\*--------------------------------------------------*/


label {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }

.required{
  font-weight: bold;
  &:after {
    content: ' *';
  }
}


/* js revealable element */

.revealable{
  display: none;
}



/*--------------------------------------------------*\

  $SEARCH

\*--------------------------------------------------*/



.form-wrapper {
  padding: 3px;
  border: 1px solid lighten($fieldset, 20%);
  border-radius: 10px;
  background-color: $primary-background;
  box-shadow: $shadow 0 0 8px;
}

.form-wrapper input {
  float: left;
  padding: 10px 5px;
  border: 1px solid darken($primary-button, 10%);
  border-right: 0;
  border-radius: 5px 0 0 5px;
  line-height: 21px;
}

.form-wrapper button {
  float: right;
  overflow: visible;
  border: 1px solid darken($primary-button, 10%);
  border-radius: 0 5px 5px 0;
  background-color: $primary-button;
  color: white;
  text-transform: uppercase;
  line-height: 41px;
}

.form-wrapper button:hover{
  background-color: darken($primary-button, 8%);
}

.delete-x {
  float: left;
  height: 43px;
  border: 1px solid darken($primary-button, 10%);
  border-left: none;
  background-color: white;
  color: $muted-link;
  font-size: 22px;
  line-height: 35px;
  cursor: pointer;
}

/*--------------------------------------------------*\

  $BUTTON

\*--------------------------------------------------*/

@media screen{

  @mixin base-button {
    margin: 0 0 2% 0;
    padding: 2%;
    border: 1px solid lighten($muted-border, 20%);
    border-radius: 5px;
    background-color: $secondary-button;
    box-shadow: $shadow 0 0 4px;
    color: black;
    font-size: 1.2em;
    &:hover,
    &:active{
      background-color: $secondary-background;
      color: white;
    }
  }

  a.simple-button{
    @include base-button;
  }

  a.simple-button[disabled]{
    background-color: $disabled-background;
    color: white;
    text-decoration: none;
    &:hover,
    &:active{
    }
  }

  a.delete-button{
    @include base-button;
    text-decoration: none;
  }
}


/*--------------------------------------------------*\

   $ERROR

\*--------------------------------------------------*/

.warn{
  color: $warn;
}

.error-shell{
  @extend .shell;
  background-color: $errors-background;
}

.field_with_errors{
  label {
    color: $warn;
  }
  input,
  textarea{
    background-color: $errors-background;
  }
}



/*--------------------------------------------------*\

  $FLASH

\*--------------------------------------------------*/

.flash{
  position: absolute;
  width: 100%;
  margin: 0 0 2% 0;
  padding: 1.5% 2% 1.5% 2%;
  border-radius: 12px;
  box-shadow: $shadow 0 0 8px;
  cursor: pointer;
}

.notice{
  border: 1px solid lighten($flash-notice, 20%);
  background-color: rgba($flash-notice, $flash-opacity);
}

.alert{
  border: 1px solid lighten($flash-alert, 20%);
  background-color: rgba($flash-alert, $flash-opacity);
}


/*
  trying to get close x into top right it isn't nice code
*/

.flash-close{
  position: relative;
  top: -10px;
  cursor: pointer;
}

/*--------------------------------------------------*\

  $OVERLAY

\*--------------------------------------------------*/


.overlay-parent{
  position: relative;
}

.overlay{
  position: absolute;
  top: 10%;  /* arbitary small amount to move it away from top border */
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  border: 1px solid lighten(rgb(184,184,184), 20%);
  background-color: rgba(184,184,184,0.85);
  color: $primary-text;
  font-size:1.4em;
 }

.popup{
  display: none;
}




/*--------------------------------------------------*\

  $AUTOCOMPLETE

\*--------------------------------------------------*/


ul.ui-autocomplete{
  position: absolute;
  margin: 0;
  padding: 0;
  border: solid 1px $muted-border;
  list-style: none;
  cursor: default;
  li{
    margin: 0;
    padding: 0;
    border-top: solid 1px $muted-border;
  }
}



/*--------------------------------------------------*\

  $DEBUG

\*--------------------------------------------------*/

.debug {
  border: 1px solid black;
}
