
/*--------------------------------------------------*\

  $AUTO-COMPLETE

\*--------------------------------------------------*/

@import 'settings.globals';
@import 'settings.colors';

.ui-menu .ui-menu-item a {
  background-color: $neutral;
  border: 1px solid darken($neutral, 5%);
  border-radius: $border-radius;
  color: $primary-text;
}
