/*--------------------------------------------------*\

  $FLASH

  :notice things are GOOD,    colour: green
  :alert  things are NEUTRAL, colour: yellow.
  :error  things are BAD,     colour: red.

\*--------------------------------------------------*/

@import 'settings.globals';
@import 'module.layout';

@media screen {

  .flash {
    border-radius: $border-radius;
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-blur $shadow-spread $shadow;
    cursor: pointer;
    margin: 0 20%;
    padding: 1.5% 2%;
    position: absolute;
    text-align: center;
    width: 40%;
    z-index: 10;   /*cannot think why flash shouldn't be on the top*/
  }

  // notice things are GOOD,    colour: green

  @mixin notice {
    border: 1px solid darken($flash-notice, $border-color-darken);
    background-color: rgba($flash-notice, $flash-opacity);
  }

  // alert  things are NEUTRAL, colour: yellow.
  @mixin alert {
    border: 1px solid darken($flash-alert, $border-color-darken);
    background-color: rgba($flash-alert, $flash-opacity);
  }

  // :error  things are BAD,     colour: red.
  @mixin error {
    border: 1px solid darken($flash-error, $border-color-darken);
    background-color: rgba($flash-error, $flash-opacity);
  }

  .save {
    @include notice;
  }

  .good {
    @include notice;
  }

  .problem {
    @include alert;
  }

  .delete {
    @include error;
  }

  // trying to get close x into top right it isn't nice code

  .flash-close {
    cursor: pointer;
    position: relative;
    top: -10px;
  }
}


@media print {

  .flash {
    display: none;
  }
}

