
/*----------------------------------------------------*\

   $LINK

\*----------------------------------------------------*/

@import 'settings.colors';

// Structure - Does not add color
// Most links should have underline to be obvious to the user
// A few links are not obvious and we help mouse users by telling
// them they are over a link
//
.hover-link {
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}


.plain-link {
  &:link,
  &:visited, {
    background-color: initial;
    color: $plain-link-color;
  }

  &:hover,
  &:active {
    background-color: $plain-link-active-background;
    color: $plain-link-active-color;
  }
}


 // For dark background links
.inverted-link {
  &:link,
  &:visited {
    background-color: initial;
    color: $inverted-link-color;
  }

  &:hover,
  &:active {
    background-color: $inverted-link-active-background;
    color: $inverted-link-active-color;
  }
}

// UJS are hidden from clicking. Hidden dot for use with testing driver Capybara
// Last resort as tests should try to replicate a user experience.
//
.view-testing-link {
  color: $fieldset;
  text-decoration: none;
}
