/*-----------------------------------------------*\

   $SHELL

\*-----------------------------------------------*/

@import 'colors';
@import 'tools.mixins';

@media screen {

  @mixin inside-shell {
    border: 1px solid lighten($fieldset, 20%);
    border-radius: 12px;
    background-color: $fieldset;
    box-shadow: $shadow 0 0 8px;
  }

  .shell {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 1%;
  }

  .shell-thin {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 0;
  }

  .shell-1-25 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 1% 4% 2%;
  }

  .shell-1-12 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 2% 8.3333%;
  }

  .shell-1-6 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 2% 16.6666%;
  }

}


.error-shell {
  @extend .shell;
  background-color: $errors-background;
}


@media print {

  @mixin inside-shell {
    width: 20cm;
    border: 0;
  }

  .shell {
    @include inside-shell;
  }

  .shell-thin {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 0;
  }

  .shell-1-25 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 1% 4% 2%;
  }

  .shell-1-12 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 2% 8.3333%;
  }

  .shell-1-6 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 2% 16.6666%;
  }
}
