/*--------------------------------------------------*\

  $SEARCH

\*--------------------------------------------------*/

@import 'colors';
@import 'layout';
@import 'module.size';

$search-height: 35px;

.search-wrapper {
  @include clearfix;
  background-color: $primary-background;
  border: 3px solid lighten($primary-background, 5%);
  border-radius: 10px;
}

.search-box {
  @extend .width-5-6;
  border: 1px solid darken($primary-button, 10%);
  border-radius: 5px 0 0 5px;
  border-right: 0;
  float: left;
  height: $search-height;
  padding: 0 0 0 .5em;
}

.search-button {
  @extend .width-1-6;
  background-color: $primary-button;
  border: 1px solid darken($primary-button, 10%);
  border-radius: 0 5px 5px 0;
  color: white;
  float: left;
  height: $search-height;
  overflow: visible;
  text-transform: uppercase;

  &:hover {
    background-color: darken($primary-button, 8%);
  }
}

