/*--------------------------------------------------*\

  $OVERLAY

\*--------------------------------------------------*/

@import 'settings.globals';
@import 'module.layout';

.overlay-parent {
  position: relative;
}

@mixin base-overlay {
  background-color: $schme-overlay-background;
  border: 1px solid $schme-overlay-border;
  color: $schme-overlay-color;
  font-size: 1.4em;
  left: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  width: 80%;
}

@media screen {

  .overlay {
    @include base-overlay;
  }

}

@media print {

  .overlay {
    display: none;
  }
}

.low-overlay {
  @include base-overlay;
  top: 100%;
}
