/*-----------------------------------------------*\

  $TABS

  http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery

\*-----------------------------------------------*/

@import 'colors';
@import 'tools.mixins';
@import 'layout';

/*----- Tabs -----*/
.tabs {
  display: inline-block;
  width: 100%;
}

/*----- Tab Links -----*/
.tab-links {
  @include clearfix;

  li {
    float: left;
    list-style: none;
    margin: 0 5px;
  }

  a {
    @include menu-style(0%, 5%);
    border-radius: 5px 5px 0 0;
    display: inline-block;
    padding: 9px 15px;
    transition: all linear .15s;

    &:hover {
      background: $secondary-background;
    }
  }
}

/*TODO: refactor*/

.tab-links-warn a {
  @include menu-style(0%, 5%);
  border-radius: 5px 5px 0 0;
  display: inline-block;
  padding: 9px 15px;
  transition: all linear .15s;

  &:hover {
    background: lighten($color-3, 10%);
    color: white;
  }
}

li.active a,
li.active a:hover {
  @include menu-style(15%, 25%);
}

.tab {
  display: none;

  &.active {
    display: block;
  }
}

@media screen {

  // Also used on client payment's details which isn't tab-content
  .tab-content {
    @include clearfix;
    background-color: lighten($fieldset, 3%);
    border-radius: 5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .15);
  }
}

@media print {

  .tab-content {
    @include clearfix;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
  }
}
