/*--------------------------------------------------*\

  $PANEL

\*--------------------------------------------------*/

@import 'colors';
@import 'tools.mixins';


.panel {
  @include clearfix;
  border: 1px darken($pick-out, 5%);
  border-radius: 10px;
  padding: 1%;
}


//
// Displaying content on the screen
// Given lighter, or in the case of printing white background, to make
// figures as clear as possible.
//

@media screen {

  .content {
    @include clearfix;
    background-color: $neutral;
    border-radius: 5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .15);
  }
}

@media print {

  .content {
    @include clearfix;
    background-color: white;
    border-radius: 5px;
  }
}
