
/*--------------------------------------------------*\

  $FORMS

\*--------------------------------------------------*/

%ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

label {
  @extend %ellipsis-text;
}

.required {
  font-weight: bold;

  &:after {
    content: ' *';
  }
}

// js revealable element

.js-revealable {
  display: none;
}

// js is not used to reveal element

.folded,
.hidden {
  display: none;
}
