

@import "colors";



/*----------------------------------------------------*\

   $LINK

\*----------------------------------------------------*/


.in-text-link{
  whitespace: nowrap;
  text-decoration: none;
  &:active,
  &:hover{
    text-decoration: underline;
  }
}


a.inverted-link{
  @include inverted-color;
}



/*--------------------------------------------------*\

  $TYPOGRAPHY

\*--------------------------------------------------*/


.small-line-height{
  lineheight: 10%;
}







/*-----------------------------------------------*\

   $CONTENT

\*-----------------------------------------------*/

  .shell{
    border-radius: 12px;
    border: 1px solid $fieldset-color;
    padding: 5%;
    margin: 50px;
  }


  .showbox{
    background-color: #ddd;
    border:1px solid #666;
    border-radius: 12px;
    padding: 0 35px;
    margin-top: 10px;
    margin-bottom: 3px;
  }



/*--------------------------------------------------*\

   $ERROR

\*--------------------------------------------------*/

.errorhead{
  height: 90px;
  padding-top:3px;
  padding-left:10px;
  border:1px solid #666;
  border-radius: 12px;
  background-color: $errors-head-background-color;
 }

