/*--------------------------------------------------*\

  $SEARCH

\*--------------------------------------------------*/

// scss-lint:disable PlaceholderInExtend

@import 'settings.globals';
@import 'settings.colors';
@import 'module.layout';
@import 'module.size';

$search-height: 35px;

.search-wrapper {
  @include clearfix;
  background-color: $primary-background;
  border: 3px solid lighten($primary-background, 5%);
  border-radius: $border-radius;
}

.search-box {
  @extend .width-5-6;
  border: 1px solid darken($primary-action-background, 10%);
  border-radius: $border-radius 0 0 $border-radius;
  border-right: 0;
  float: left;
  height: $search-height;
  padding: 0 0 0 .5em;
}

.search-button {
  @extend .width-1-6;
  background-color: $primary-action-background;
  border: 1px solid darken($primary-action-background, 10%);
  border-radius: 0 $border-radius $border-radius 0;
  color: $primary-action-color;
  float: left;
  height: $search-height;
  overflow: visible;
  text-transform: uppercase;

  &:hover {
    background-color: darken($primary-action-background, 8%);
  }
}
