

@import "colors";


/*----------------------------------------------------*\

   $LINK

\*----------------------------------------------------*/


.hover-link{
  text-decoration: none;
  whitespace: nowrap;
  &:active,
  &:hover{
    text-decoration: underline;
  }
}


a.inverted-link{
  @include inverted-color;
}

/*--------------------------------------------------*\

  $TYPOGRAPHY

\*--------------------------------------------------*/


.small-line-height{
  lineheight: 10%;
}




/*-----------------------------------------------*\

   $NAVIGATION

\*------------------------------------------------*/


nav{
  float: right;
}


li a{
  display: block;
  padding: 4%;
  border-bottom: 1px solid $primary-background-color;
  background-color: $fieldset-color;
}



/*-----------------------------------------------*\

   $CONTENT

\*-----------------------------------------------*/

.shell{
  padding: 2%;
  margin: 0 0 2% 0;
  border-radius: 12px;
  background-color: $fieldset-color;
  box-shadow: #aaa 0 0 8px;
}

@media all{

  .showbox{
    margin-top: 10px;
    margin-bottom: 3px;
    padding: 0 35px;
    border:1px solid #666;
    border-radius: 12px;
    background-color: #ddd;
  }
}

@media print{
  .showbox{
     border:0px;
  }
}


/*--------------------------------------------------*\

  $FORMS

\*--------------------------------------------------*/


label {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }

.required{
  font-weight: bold;
  &:after {
    content: ' *';
  }
}


/*--------------------------------------------------*\

  $SEARCH-FORMS

\*--------------------------------------------------*/


.search-terms{
  font-weight: bold;
}



/*--------------------------------------------------*\

   $ERROR

\*--------------------------------------------------*/

.error-panel{
  border:2px solid $errors-edge-color;
  background: $errors-background-color;
  h2 {
    color: $errors-text-color;
  }
}

.field_with_errors{
  label {
    color: $errors-text-color;
  }
  input,
  textarea{
    background: $errors-background-color;
  }
}



/*--------------------------------------------------*\

  $FLASH

\*--------------------------------------------------*/


.flash{
  color: $primary-text-color;
  border-radius: 4px;
  padding: 2% 0% 2% 3%;
  margin: 0;
  text-align: center;
  box-shadow: #ffc 0 0 4px;

  &.notice{
    background-color: $flash-notice-color;
  }

  &.alert{
    background-color: $flash-alert-color;
  }
}



/*--------------------------------------------------*\

  $OVERLAY

\*--------------------------------------------------*/


.overlay-parent{
  position: relative;
}

.overlay{
  position: absolute;
  margin-top: -8%;
  margin-left: -30%;
  padding: 1em 1em;
  width: 80%;

  border: 1px solid black;
  border-radius: 12px;

  background: rgba(184,184,184,0.85);
  font-size:1.4em;
}

.popup-pos{
  top: 0%;
  left: 27%;
  display: none;
  width: 50%;
}

.overlay-pos{
  top: 30%;
  left: 40%;
 }

