/*--------------------------------------------------*\

  $OVERLAY

\*--------------------------------------------------*/

@import 'settings.globals';
@import 'module.layout';

.overlay-parent {
  position: relative;
}

@mixin base-overlay {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  border: 1px solid darken(rgb(184, 184, 184), $border-color-darken);
  background-color: rgba(184, 184, 184, .85);
  color: $primary-text;
  font-size: 1.4em;
}

@media screen {

  .overlay {
    @include base-overlay;
  }

}

@media print {

  .overlay {
    display: none;
  }
}

.low-overlay {
  @include base-overlay;
  top: 100%;
}
