/*--------------------------------------------------*\

  $PANEL

\*--------------------------------------------------*/

@import 'settings.globals';
@import 'settings.colors';
@import 'tools.mixins';

//
// panel
//
// Only used on invoicings-show - think concept could be used in application
// more often
//
.panel {
  @include clearfix;
  background-color: $pick-out;
  border: 1px darken($pick-out, 5%);
  border-radius: $border-radius;
  padding: 1%;
}


//
// Displaying content on the screen
// Given lighter, or in the case of printing white background, to make
// figures as clear as possible.
//

.content {
  @include clearfix;
  background-color: $neutral;
  border-radius: $border-radius;

  @media screen {
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-blur-content $shadow-spread $shadow;
  }
}
