
/*--------------------------------------------------*\

  $FORMS

\*--------------------------------------------------*/

@import 'settings.colors';

%ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

label {
  @extend %ellipsis-text;
}

.required {
  font-weight: bold;

  &:after {
    content: ' *';
  }
}


//
// Hidden Elements
//

// js revealable element
//
.js-revealable {
  display: none;
}

// none-js to reveal element
//
.hidden {
  display: none;
}


//
// Disableable
//

// reveal.js uses class
//
.js-color-disabled {
  color: $scheme-disabled-foreground;
}
