/*-----------------------------------------------*\

   $SHELL

\*-----------------------------------------------*/

@import 'settings.globals';
@import 'settings.colors';
@import 'tools.mixins';


%inside-shell-screen {
  @media screen {
    background-color: $fieldset;
    border: 1px solid darken($fieldset, $border-color-darken);
    border-radius: $border-radius;
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-blur $shadow-spread $shadow;
  }

  @media print {
    border: 0;
    width: 20cm;
  }
}

.Shell {
  @extend %inside-shell-screen;
  @include clearfix;
  margin: 0 0 2%;
}

.Shell--error {
  background-color: $errors-background;
}
