
/*----------------------------------------------------*\

   $LINK

\*----------------------------------------------------*/

@import 'colors';

.hover-link {
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

a.inverted-link {
  @include inverted-color;
}

a.warn {
  color: $warn;

  &:hover,
  &:active {
    background-color: $warn;
    color: white;
  }
}

// UJS are hidden from clicking. Hidden dot for use with testing driver Capybara

a.view-testing-link {
  color: $fieldset;
  text-decoration: none;
  white-space: nowrap;
}

//  disabled link used disabled a lot

a.grey {
  color: grey;
}
