
/*--------------------------------------------------------------------*\

  $BUTTON

  icon-button - action buttons and Invoicing Show buttons
  primary-button - submit action buttons on form pages and search form

\*--------------------------------------------------------------------*/

@import 'settings.globals';
@import 'settings.colors';

@media screen {

  %base-button {
    border: 1px solid darken($button-border, 15%);
    border-radius: 5px;
    box-shadow: $shadow-offset-x $shadow-offset-y $shadow-blur $shadow-spread $shadow;
    display: inline-block;
    font-size: 1em;
    margin: 0;
  }

  .icon-button {
    @extend %base-button;

    background: $icon-button-background;
    color: $icon-button-color;
    padding: .2em;

    &:hover,
    &:active {
      background: $icon-button-active-background;
      color: $icon-button-active-color;
    }
  }

  .icon-button[disabled] {
    @extend %base-button;

    background: $icon-button-disabled-background;
    color: $icon-button-disabled-color;
    padding: .2em;
    text-decoration: none;

    &:hover,
    &:active {
      background: $icon-button-disabled-background;
      color: $icon-button-disabled-color;
    }
  }

  .primary-button, .warn-button {
    @extend %base-button;

    background: $primary-action-background;
    color: $primary-action-color;
    padding: 1em;

    &:hover,
    &:active {
      background: $primary-action-active-background;
      color: $primary-action-active-color;
    }
  }
}


@media print {

  .icon-button, .primary-button, .warn-button {
    display: none;
  }
}
