@import "colors";
@import "compass/css3";

/*----------------------------------------------------*\

   $LINK

\*----------------------------------------------------*/


.hover-link{
  text-decoration: none;
  white-space: nowrap;
  &:active,
  &:hover{
    text-decoration: underline;
  }
}


a.inverted-link{
  @include inverted-color;
}


a.warn{
  color: $warn;

  &:hover,
  &:active{
    color: $print-background-white;
    background: $warn;
  }
}



/*--------------------------------------------------*\

  $TYPOGRAPHY

\*--------------------------------------------------*/


.small-line-height{
  lineheight: 10%;
}




/*-----------------------------------------------*\

   $NAVIGATION

\*------------------------------------------------*/


nav{
  float: right;
}


li a{
  display: block;
  padding: 4%;
  border-bottom: 1px solid $primary-background-color;
  background-color: $fieldset-color;
}



/*-----------------------------------------------*\

   $CONTENT

\*-----------------------------------------------*/

.shell{
  margin: 0 0 2% 0;
  padding: 2%;
  border: 1px solid lighten($fieldset-color, 20%);
  border-radius: 12px;
  background-color: $fieldset-color;
  box-shadow: #aaa 0 0 8px;
}


.dialog-box{
  margin: 0 auto;
  width: 50%;
  min-width: 25em;
}


/*--------------------------------------------------*\

  $FORMS

\*--------------------------------------------------*/


label {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
 }

.required{
  font-weight: bold;
  &:after {
    content: ' *';
  }
}




/*--------------------------------------------------*\

  $BUTTON

\*--------------------------------------------------*/

@media screen{

  input[type="submit"] {
    width: 40%;
    border-radius: 5px;
    background-color: $background-filler;
    font-size: 1.5em;
    &.x-large {
      width: 80%;
    }
    &.medium {
      width: 60%;
    }
    &.under-input {
      width: 55%;
    }
  }

  @mixin small-button-base {
    margin: 0 0 2% 0;
    padding: 2%;
    border: 1px solid lighten($background-filler, 20%);
    border-radius: 5px;
    background-color: $background-filler;
    color: $primary-link-color;
    box-shadow: #aaa 0 0 4px;
    text-decoration: none;
    font-size: 1.2em;
  }

  .link-button{
     @include small-button-base;
     float:right;
   }

  .simple-button{
     @include small-button-base;
   }
}



/*--------------------------------------------------*\

  $SEARCH-FORMS

\*--------------------------------------------------*/


.search-terms{
  font-weight: bold;
}



/*--------------------------------------------------*\

   $ERROR

\*--------------------------------------------------*/

.warn{
  color: $warn;
}

.error-panel{
  border:2px solid $errors-edge-color;
  background: $errors-background-color;
}

.field_with_errors{
  label {
    color: $warn;
  }
  input,
  textarea{
    background: $errors-background-color;
  }
}



/*--------------------------------------------------*\

  $FLASH

\*--------------------------------------------------*/

.flash{
  margin: 0 0 2% 0;
  padding: 2%;
  border-radius: 12px;
  box-shadow: #aaa 0 0 8px;

  text-align: center;

  &.notice{
    border: 1px solid lighten($flash-notice-color, 20%);
    background-color: $flash-notice-color;
  }

  &.alert{
    border: 1px solid lighten($flash-alert-color, 20%);
    background-color: $flash-alert-color;
  }
}



/*--------------------------------------------------*\

  $OVERLAY

\*--------------------------------------------------*/


.overlay-parent{
  position: relative;
}

.overlay{
  position: absolute;
  top: 30%;
  left: 40%;
  margin-top: -8%;
  margin-left: -30%;
  width: 80%;
  border: 1px solid lighten(rgb(184,184,184), 20%);
  background-color: rgba(184,184,184,0.85);
  color: $primary-text-color;
  font-size:1.4em;
 }

.popup{
  display: none;
}

