/*--------------------------------------------------*\

  $SPACER

\*--------------------------------------------------*/

.top-spacer {
  margin: .8% 0 0;
}

.top-half-line-spacer {
  margin: .5em 0 0;
}

.top-1-line-spacer {
  margin: 1em 0 0;
}

.top-2-line-spacer {
  margin: 2em 0 0;
}

.top-3-line-spacer {
  margin: 3em 0 0;
}

.bottom-spacer {
  margin: 0 0 .8%;
}

.bottom-half-line-spacer {
  margin: 0 0 .5em;
}

.bottom-1-line-spacer {
  margin: 0 0 1em;
}

.bottom-2-line-spacer {
  margin: 0 0 2em;
}

.vertical-spacer {
  margin: .8% 0;
}

.vertical-line-spacer {
  margin: 1em 0;
}
