/*--------------------------------------------------*\

  $TYPOGRAPHY

\*--------------------------------------------------*/

// scss-lint:disable PlaceholderInExtend

@import 'settings.colors';

// Text Alignment

.r-align {
  text-align: right;
}

.c-align {
  text-align: center;
}

.no-warp {
  white-space: nowrap;
}


// Text coloring

.normal-text {
  color: $primary-text;
}

// Fading text - without using common markup to aid testing
.deemphasized {
  @extend .faded;
}


// Clipping text - hides the end of the line
.line-clip {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}


// Headers - reduces bottom margin to fit more into page
.small-bottom {
  margin-bottom: .2em;
}
