
/*-----------------------------------------------*\

  $JQUERY DROPDOWN MENU

  http://www.webchief.co.uk/blog/simple-jquery-dropdown-menu/

  <ul class='drop-down'>
    <li class='drop-down-menu'>
      <a class='drop-down-link' href='#'>main menu item</a>
      <ul class='drop-down-sub-menu'>
        <li class='drop-down-sub-menu'><a class='drop-down-link' href='?'>submenu item</a></li>
        <li class='drop-down-sub-menu'><a class='drop-down-link' href='?'>submenu item</a></li>
      </ul>
    </li>
    <li>
      .. another main menu item
    </li>
  </ul>

\*-----------------------------------------------*/

@import 'settings.globals';
@import 'settings.colors';
@import 'tools.mixins';

// To keep the menu at the same y origin as the heading search control
.drop-down {
  @include clearfix;
  border-top: 3px solid $primary-background;
}

// menu list item
.drop-down-menu {
  float: right;
  list-style: none;
  margin-right: .3em;
}

.drop-down-link {
  border: 1px solid darken($drop-down-link-background, $border-color-darken);
  border-radius: $border-radius;
  padding: .5em 2em;

  &:link,
  &:visited {
    background-color: $drop-down-link-background;
    color: $drop-down-link-color;
    text-decoration: none;
  }

  &:hover,
  &:active {
    background-color: $drop-down-link-active-background;
    color: $drop-down-link-active-color;
  }
}

// sub menu wrapper
.drop-down-sub-menu {
  border-top: 0;
  height: 1em;
  position: absolute;
  visibility: hidden;
}

// sub menu item
.drop-down-sub-menu-item {
  display: inline;
  float: none;
}
