@import 'colors';
@import 'layout';

/*----------------------------------------------------*\

   $LINK

\*----------------------------------------------------*/

.hover-link {
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

a.inverted-link {
  @include inverted-color;
}

a.warn {
  color: $warn;

  &:hover,
  &:active {
    background-color: $warn;
    color: white;
  }
}

// UJS are hidden from clicking. Hidden dot for use with testing driver Capybara

a.view-testing-link {
  color: $fieldset;
  text-decoration: none;
  white-space: nowrap;
}

//  disabled link used disabled a lot

a.grey {
  color: grey;
}

/*--------------------------------------------------*\

  $GRID

\*--------------------------------------------------*/

/*http://stackoverflow.com/questions/4785871/css-vertical-align*/
@mixin vertical-align-hack {
  height: 3em;
  line-height: 3em;
}

.grid-row {
  clear: both;
}

.cell {
  @include vertical-align-hack;
  color: $primary-text;
}

/* Wanted to emphasise the payment column in new_payment. However it looks odd
   if elements are at the point the colour changes. So I have avoided text near
   the color change. Note: margins do not have background color.
   Only used on payment
*/

.pick-out {
  background-color: darken($fieldset, 5%);
}

.top-spacer {
  margin: .8% 0 0;
}

.top-line-spacer {
  margin: 1em 0 0;
}

.top-double-line-spacer {
  margin: 2em 0 0;
}

.bottom-spacer {
  margin: 0 0 .8%;
}

.bottom-half-line-spacer {
  margin: 0 0 .5em;
}

.bottom-line-spacer {
  margin: 0 0 1em;
}

.bottom-double-line-spacer {
  margin: 0 0 2em;
}

.vertical-spacer {
  margin: .8% 0;
}

.vertical-line-spacer {
  margin: 1em 0;
}

.top-line-padder {
  padding: 1em 0 0;
}

.bottom-line-padder {
  padding: 0 0 1em;
}

/* To change heading color for printing change
   $secondary-print-text in _colors.scss.
   faded holds the switch. grid-header uses faded
   extended. */

.grid-header {
  @extend .faded;
  border-bottom: 1px solid $muted-border;
  overflow: hidden;
  padding-top: 1%; // added for new_payment
  white-space: nowrap;
}

.grid-pick-header {
  border-bottom: 1px solid darken($muted-border, 2%);
  overflow: hidden;
  padding-top: 1%; // added for new_payment
  white-space: nowrap;
}

.grid-footer-text {
  @extend .faded;
  border-top: 1px solid $muted-border;
  overflow: hidden;
  padding-top: 1%;
  white-space: nowrap;
}

.grid-footer-number {
  border-top: 1px solid $muted-border;
  font-weight: bold;
  overflow: hidden;
  padding-top: 1%;
  white-space: nowrap;
}


/*--------------------------------------------------*\

  $TYPOGRAPHY

\*--------------------------------------------------*/

.small-bottom {
  margin-bottom: .2em;
}

.r-align {
  text-align: right;
}

.c-align {
  text-align: center;
}

.no-warp {
  white-space: nowrap;
}

/* faded holds the switch for printing.
   To change heading color for printing change
   $secondary-print-text in _colors.scss.  */

.faded {
  color: $secondary-text;
  @media print {
    color: $secondary-print-text;
  }
}

// Charge using a special class to test for dormant charge has been faded.
// The css 'faded' class is already used on the page for headings.

.deemphasized {
  @extend .faded;
}

/*-----------------------------------------------*\

   $FONT_AWESOME_SIZING

\*------------------------------------------------*/


.fa.fa {
  font-size: 1.2em;
}

.fa.fa-2x {
  font-size: 1.6em;
}

/*-----------------------------------------------*\

   $NAVIGATION

\*------------------------------------------------*/

nav {
  float: right;
}

.nav-shell {
  margin-top: 15%;
  width: 100%;
}

li a {
  background-color: $fieldset;
  border-bottom: 1px solid $neutral;
  display: block;
  padding: 4%;
}

// navigation

// extra class selectivity required override 'li a' with li.<class> a

@mixin menu-style($background, $border) {
  border: 1px solid darken($fieldset, $background);
  border-radius: 5px;
  background-color: darken($fieldset, $border);

  &:hover,
  &:active {
    background-color: $secondary-background;
    color: white;
  }
}

li.inactive-nav a {
  @include menu-style(0%, 5%);
}

li.active-nav a {
  @include menu-style (15%, 25%);
}

li.active-subnav a {
  @include menu-style(5%, 15%);
}

/*-----------------------------------------------*\

  $JQUERY DROPDOWN MENU

  http://www.webchief.co.uk/blog/simple-jquery-dropdown-menu/

  <ul class='my-menu'>
    <li>
      <a href='#'>main menu item</a>
      <ul>
        <li><a href='?'>submenu item</a></li>
        <li><a href='?'>submenu item</a></li>
      </ul>
    </li>
    <li>
      .. another main menu item
    </li>
  </ul>

\*-----------------------------------------------*/

// To keep the menu at the same y origin as the heading search control
.my-menu-wrapper {
  @include clearfix;
  border-top: 3px solid $primary-background;
}

// menu root
.my-menu {
  margin: 0;
  padding: 0;
}

// menu list item
.my-menu li {
  float: right;
  list-style: none;
  margin-right: .3em;

  a {
    @include menu-style (15%, 25%);
    &:link,
    &:visited {
      background-color: $fieldset;
      border-right: 1px solid #fff;
      color: $secondary-background;
      display: block;
      margin: 0;
      padding: .5em 2em;
      text-decoration: none;
    }

    &:hover,
    &:active {
      @include menu-style(0%, 5%);
    }
  }
}

// sub menu wrapper
ul .my-sub-menu {
  border-top: 1px solid white;
  height: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  visibility: hidden;
}

// sub menu item
.my-sub-menu li {
  display: inline;
  float: none;
  margin: 0;
  padding: 0;

  a {
    &:link,
    &:visited {
      width: auto;
    }
  }
}


/*-----------------------------------------------*\

  $TABS

  http://inspirationalpixels.com/tutorials/creating-tabs-with-html-css-and-jquery

\*-----------------------------------------------*/


/*----- Tabs -----*/
.tabs {
  display: inline-block;
  width: 100%;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
  clear: both;
  content: '';
  display: block;
}

.tab-links li {
  float: left;
  list-style: none;
  margin: 0 5px;
}

.tab-links a {
  @include menu-style(0%, 5%);
  border-radius: 5px 5px 0 0;
  display: inline-block;
  padding: 9px 15px;
  transition: all linear .15s;

  &:hover {
    background: #a7cce5;
    text-decoration: none;
  }
}

/*TODO: refactor*/

.tab-links-warn a {
  @include menu-style(0%, 5%);
  border-radius: 5px 5px 0 0;
  display: inline-block;
  padding: 9px 15px;
  transition: all linear .15s;

  &:hover {
    background: lighten($color-3, 10%);
    color: white;
    text-decoration: none;
  }
}


li.active a, li.active a:hover {
  @include menu-style(15%, 25%);
}

@media screen {

  .tab-content {
    background-color: lighten($fieldset, 3%);
    border-radius: 5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, .15);
    padding: 1%;
  }
}



@media print {

  .tab-content {
    background: #fff;
    padding: 15px;
  }
}

.tab {
  display: none;
}

.tab.active {
  display: block;
}

/*-----------------------------------------------*\

   $CONTENT

\*-----------------------------------------------*/

@media screen {

  @mixin inside-shell {
    border: 1px solid lighten($fieldset, 20%);
    border-radius: 12px;
    background-color: $fieldset;
    box-shadow: $shadow 0 0 8px;
  }

  .shell {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 1%;
  }

  .shell-thin {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 0;
  }

  .shell-1-25 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 1% 4% 2%;
  }

  .shell-1-12 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 2% 8.3333%;
  }

  .shell-1-6 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 2% 16.6666%;
  }
}

@media print {

  @mixin inside-shell {
    width: 20cm;
    border: 0;
  }

  .shell {
    @include inside-shell;
  }

  .shell-thin {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 0;
  }

  .shell-1-25 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 1% 4% 2%;
  }

  .shell-1-12 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 2% 8.3333%;
  }

  .shell-1-6 {
    @include inside-shell;
    @include clearfix;
    margin: 0 0 2%;
    padding: 2% 16.6666%;
  }
}

/*-----------------------------------------------*\

  $table rows

  Grid simulating tables

  1 - Outer div around which the part of the row will have hover.
   has:
   1.1 class='table-row'
   1.2 data-link='<%= property_path(property.id) %>
   1.3 the data is used by visit-data-link.js
  2 - columns within the outer dive that we want to see table-row styles in
     we add class='inherit-row'
  3 - visit-data-link.js must be present - in one of the columns
  4 - Hidden link added to column in the table for testing purposes
   4.1 link_to '.', property_path(property.id), class: 'view-testing-link';
   4.2 spec with: find('.view-testing-link', visible: false).click

  5 - Committed these changes for clients table under:
    'grid simulating table - client'
     git log --oneline | grep 'grid simulating table - client'

\*-----------------------------------------------*/

.table-row {
  &:hover,
  &:active {
    background-color: darken($fieldset, 5%);
    text-decoration: underline;
  }
}

.inherit-row {
  background-color: inherit;
  text-decoration: inherit;
}

/*--------------------------------------------------*\

  $FORMS

\*--------------------------------------------------*/

@mixin ellipsis-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

label {
  @include ellipsis-text;
}

.required {
  font-weight: bold;

  &:after {
    content: ' *';
  }
}

input[type=submit].primary {
  padding: 2%;
  width: 60%;
}

// js revealable element

.js-revealable {
  display: none;
}

// js is not used to reveal element

.folded, .hidden {
  display: none;
}

/*--------------------------------------------------*\

  $SEARCH

\*--------------------------------------------------*/

$search-height: 35px;

.form-wrapper {
  @include clearfix;
  background-color: $primary-background;
  border: 3px solid lighten($primary-background, 5%);
  border-radius: 10px;
}

.form-wrapper input {
  @extend .width-5-6;
  border: 1px solid darken($primary-button, 10%);
  border-radius: 5px 0 0 5px;
  border-right: 0;
  float: left;
  height: $search-height;
  padding: 0 0 0 .5em;
}

.form-wrapper button {
  @extend .width-1-6;
  background-color: $primary-button;
  border: 1px solid darken($primary-button, 15%);
  border-radius: 0 5px 5px 0;
  color: white;
  float: left;
  height: $search-height;
  overflow: visible;
  text-transform: uppercase;
}

.form-wrapper button:hover {
  background-color: darken($primary-button, 8%);
}

/*--------------------------------------------------*\

  $BUTTON

\*--------------------------------------------------*/

@media screen {

  @mixin base-button {
    margin: 1% 1% 1% 0;
    padding: 2%;
    border: 1px solid darken($secondary-button, 15%);
    border-radius: 5px;
    box-shadow: $shadow 0 0 4px;
    font-size: 1em;

    &:hover,
    &:active {
      background: $secondary-background;
      color: white;
    }
  }

  .plain-button {
    @include base-button;
    background: white;
    color: black;

    // Required to override base.css a:link color and background-color;
    &:link,
    &:visited {
      background: white;
      color: black;
    }
  }

  .plain-button[disabled] {
    @include base-button;
    background: $disabled-background;
    color: white;
    text-decoration: none;

    // Required to override base.css a:link color and background-color;

    &:link,
    &:visited {
      background: $disabled-background;
      color: white;
    }

    &:hover,
    &:active {
      background: $disabled-background;
      color: white;
    }
  }

  .warn-button {
    @include base-button;
    background: $color-3;
    color: white;

    // Required to override base.css a:link color and background-color;

    &:link,
    &:visited {
      background: $color-3;
      color: white;
    }
  }
}

/*--------------------------------------------------*\

   $ERROR

\*--------------------------------------------------*/

.warn {
  color: $warn;
}

.error-shell {
  @extend .shell;
  background-color: $errors-background;
}

// Does not appear to be being used //
.field-with-errors {
  label {
    color: $warn;
  }

  input,
  textarea {
    background-color: $errors-background;
  }
}

/*--------------------------------------------------*\

  $FLASH

\*--------------------------------------------------*/

.flash {
  border-radius: 12px;
  box-shadow: $shadow 0 0 8px;
  cursor: pointer;
  margin: 0 20%;
  padding: 1.5% 2%;
  position: absolute;
  text-align: center;
  width: 40%;
}

/*
  :notice things are GOOD,    colour: green
  :alert  things are NEUTRAL, colour: yellow.
  :error  things are BAD,     colour: red.
*/

@mixin notice {
  border: 1px solid lighten($flash-notice, 20%);
  background-color: rgba($flash-notice, $flash-opacity);
}

@mixin alert {
  border: 1px solid lighten($flash-alert, 20%);
  background-color: rgba($flash-alert, $flash-opacity);
}

@mixin error {
  border: 1px solid lighten($flash-error, 20%);
  background-color: rgba($flash-error, $flash-opacity);
}

.save {
  @include notice;
}

.good {
  @include notice;
}

.problem {
  @include alert;
}

.delete {
  @include error;
}

// trying to get close x into top right it isn't nice code

.flash-close {
  cursor: pointer;
  position: relative;
  top: -10px;
}

/*--------------------------------------------------*\

  $OVERLAY

\*--------------------------------------------------*/

.overlay-parent {
  position: relative;
}

@mixin base-overlay {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  border: 1px solid lighten(rgb(184, 184, 184), 20%);
  background-color: rgba(184, 184, 184, .85);
  color: $primary-text;
  font-size: 1.4em;
}

.overlay {
  @include base-overlay;
}

.low-overlay {
  @include base-overlay;
  top: 100%;
}

/*--------------------------------------------------*\

  $AUTO-COMPLETE

\*--------------------------------------------------*/

.ui-menu .ui-menu-item a {
  background-color: darken($fieldset, 5%);
  border: 1px solid darken($fieldset, 10%);
  border-radius: 5px;
  color: black;
}


/*--------------------------------------------------*\

  $DEBUG

\*--------------------------------------------------*/

.debug {
  border: 1px solid black;
}
