/*------------------------------------------------------------*\

  $SPACING

  When elements require white space - especially used on grids#
  spacer - are for margin
  padding - are for padding

\*-------------------------------------------------------------*/

.top-spacer {
  margin: .8% 0 0;
}

.top-half-line-spacer {
  margin: .5em 0 0;
}

.top-1-line-spacer {
  margin: 1em 0 0;
}

.top-2-line-spacer {
  margin: 2em 0 0;
}

.top-3-line-spacer {
  margin: 3em 0 0;
}

.bottom-spacer {
  margin: 0 0 .8%;
}

.bottom-quarter-line-spacer {
  margin: 0 0 .25em;
}

.bottom-half-line-spacer {
  margin: 0 0 .5em;
}

.bottom-1-line-spacer {
  margin: 0 0 1em;
}

.bottom-2-line-spacer {
  margin: 0 0 2em;
}

.bottom-3-line-spacer {
  margin: 0 0 3em;
}

.bottom-4-line-spacer {
  margin: 0 0 4em;
}

.bottom-5-line-spacer {
  margin: 0 0 5em;
}

.bottom-6-line-spacer {
  margin: 0 0 6em;
}

.bottom-7-line-spacer {
  margin: 0 0 7em;
}

.bottom-8-line-spacer {
  margin: 0 0 8em;
}


.vertical-spacer {
  margin: .8% 0;
}

.vertical-line-spacer {
  margin: 1em 0;
}


//
// Padding
//

.top-quarter-line-padder {
  padding: .25em 0 0;
}

.top-line-padder {
  padding: 1em 0 0;
}

.bottom-line-padder {
  padding: 0 0 1em;
}
