@import 'settings.colors';
@import 'tools.mixins';

.clearfix { @include clearfix; }

@media screen {

  /*------------------------------------------------*\

    $PAGE

  \*------------------------------------------------*/

  .page-wrapper {
    margin: 0 auto;
    width: 97.5%;
  }

  .view-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
  }

  /*--------------------------------------*\

      $STRUCTURAL ELEMENTS

  \*--------------------------------------*/

  .float-left {
    float: left;
  }

  .float-right {
    float: right;
  }
}
