<div class='col-5-24 grid-row bottom-spacer grid-header'>
 Property Range
</div>
<div class='col-5-24 grid-header'>
  Created On
</div>
<div class='col-6-24 grid-header'>
  Bill Between
</div>
<div class='col-8-24 grid-header no-print'>
  Actions
</div>