<div class='shell  overlay  top-2-12'>
  <%= t('teachings.invoicing', property_id_range: invoicing_range ).html_safe if Account.first && Account.first.property && Account.second && Account.second.property %>
</div>
