<div class='Shell  u-padding-1-100  overlay  top-9-12'>
  <%= t('teachings.payments.property_payment', property_id: pay_human_ref, owner: pay_owner, amount: pay_amount ).html_safe if Payment.first %>
</div>
