<% for val in 0..6 %>
  <div class='insert'>
    <%= template.guide.instruction[val] %>
 </div>

 <div class='widemargin'>
    <%= template.guide.fillin[val] %>
    <%= template.guide.sample[val] %>
  </div>
<% end %>

