<% invoice.products.each do |product| %>

  <% product_dec = ProductDecorator.new product %>

  <div class='col-4-24  grid-row'>  &nbsp;</div>
  <div class='col-5-24'>            <%= product_dec.charge_type %></div>
  <div class='col-7-24'>            <%= product_dec.period %></div>
  <div class='col-3-24  r-align'>   <%= product_dec.balance %></div>
<% end %>

<div class='col-4-24  grid-row'>    &nbsp;</div>
<div class='col-10-24'>              Total now Owing</div>
<div class='col-5-24  text-overline  r-align'>
  <%= to_decimal invoice.total_arrears %>
</div>
