<div class='grid-row  narrow-margin  smallest-font'>
  <%= invoice_page2.guides[guideno].instruction %>
</div>

<div class='grid-row  wide-margin  large-font'>
  <%= invoice_page2.guides[guideno].fillin %>
  <%= info %>
</div>
