<% start_date = Time.zone.today.to_s if local_assigns[:start_date].nil? %>
<% search_terms = '' if local_assigns[:search_terms].nil? %>

<% account_debits = AccountsDebits.new(property_range: search_terms, debit_period: start_date..(start_date.to_date + 1.year).to_s ).make_list.list %>

<div class='col-1-24  grid-row  top-spacer'>&nbsp;</div>
<div class='col-16-24  top-spacer'><h3>Upcoming Charges</h3></div>

<div class='col-1-24  grid-row'>&nbsp;</div>
<div class='col-22-24'>

  <div class='col-8-24  grid-row  bottom-spacer  grid-header'>Date</div>
  <div class='col-8-24  bottom-spacer  grid-header'>Property Range</div>
  <div class='col-8-24  bottom-spacer  grid-header'>Charge</div>

  <% account_debits.values.each do |account_debit| %>

    <div class='col-8-24  grid-row  bottom-spacer  grid-header'>
      <%= I18n.l account_debit.date_due, format: :short %>
    </div>
    <div class='col-8-24  bottom-spacer  grid-header'>
      <%= account_debit.property_refs_to_s %>
    </div>
    <div class='col-8-24  bottom-spacer  grid-header'>
      <%= account_debit.charge_type %>
    </div>
  <% end %>
</div>
<%= render 'information/lacking', objects: account_debits.values, message: "No properties in the range #{search_terms}" %>
