<nav class='no-print'>
  <ul class='shell'>
    <li><%= link_to 'Home', properties_path %></li>
    <% if allow? "users", "" %>
      <li><%= link_to 'Users', users_path %></li>
      <li><%= link_to 'Add New User', new_user_path %></li>
    <% end %>
  </ul>
</nav>